
<a class="buylocal__link" href="https://livebuylocal.com.au/listing/town/shepparton-mooroopna/">
    <div class="buylocal u-margin-bottom-30">
    <h4 class="buylocal__heading">support local businesses</h4>
    <picture>
        <img class="buylocal__img" src="{{networkData.templatePath}}/static/images/buylocal.svg" />
    </picture>
    </div>
</a>
