<div class="buylocal u-desktop-margin-bottom-30">
    <h4 class="buylocal__heading">support local businesses</h4>
    <picture>
        <source media="(max-width: 500px)" srcset="{{networkData.templatePath}}/static/images/buylocal1300.jpg">
        <source media="(max-width: 767px) and (min-width: 501px)" srcset="{{networkData.templatePath}}/static/images/buylocal1300.jpg">
        <img class="buylocal__img" src="{{networkData.templatePath}}/static/images/buylocal1300.jpg" />
    </picture>
</div>