<section class="subscribe">
    
    <h2>Dairynews E-Newsletter</h2>
    <label for="header-search" class="assistive-text sr-only">Subscribe</label>
    <div class="input-group subscribe-group">
        
    <div id="mc_embed_signup">
        <form action="//dairynewsaustralia.us16.list-manage.com/subscribe/post?u=ebd86b92d53e6d79d362a0c5c&amp;id=7382e3152f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" style="display:flex;">
            
                <input type="email" value="" name="EMAIL" class="field form-control" id="mce-EMAIL" placeholder="Email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_f951467ba4375a98673dddecd_effe44468e" tabindex="-1" value="">
                </div>
                    {# <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> #}
                <button class="btn btn-default" type="submit" id="mc-embedded-subscribe">
                    Subscribe
                </button>

            </div>
        </form>
    </div>

</section>