{% set log = _AppHelper.log(articleUrl) %}

<div class="c-article__paywalled-view">
	<div class="c-paywalled-article">
		<div class="c-paywalled-article__container">
			<div class="c-paywalled-article__text">
				<h3 class="c-paywalled-article__publication">Shepparton News</h3>
				<h4 class="c-paywalled-article__title">You can now read the full story.</h4>
				<a class="c-paywalled-article__subscriptions" href="https://www.sheppnews.com.au/membership?redirect={{articleUrlEnc}}">Click here to view subscription options</a>
			</div>

			<div class="c-paywalled-article__action">
				<a href="https://www.sheppnews.com.au/membership?redirect={{articleUrlEnc}}" class="c-paywalled-article__button c-button c-button-block  c-button--red u-margin-bottom-5">Subscribe</a>
				<a id="articleSigninBtn" href="{{articleUrl}}?showLogin=true" class="c-paywalled-article__button c-button c-button-block  c-button--wtbg  c-button--wtbg-bordered c-button--boderwidth1">Log in</a>
			</div>
		</div>
	</div>
</div>