{{ set(this, 'title', 'Contact Us') }}  

    <main id="main" class="site-main" role="main">
        
        <div class="container">

            <section>
                <div class="row">
                    <div class="col-sm-9 header">
                        <div class="hk">
                            <h2>Advertising</h2>
                            <p></p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-md-5">
                    {{this.render('layouts/partials/messages.twig') | raw }}
                    <form id="contactForm" class="form-horizontal form-contact" action="{{_AppHelper.getContactFormUrl()}}" method="post" autoComplete="off">
                        <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                        <div class="controls-full">
                            <div class="form-group field-contactform-name required">
                                <input type="text" id="contactform-name" class="form-control" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="controls-full">
                            <div class="form-group field-contactform-email required">
                                <input type="text" id="contactform-email" class="form-control" name="email" placeholder="Email address">
                            </div>
                        </div>
                        <div class="controls-full">
                            <div class="form-group field-contactform-message required">
                                <textarea class="form-control" name="message" placeholder="Message"></textarea>
                            </div>
                        </div>

                        <div class="controls-full">
                            <div class="form-group">
                                <button type="submit" id="btnContact" class="button green lg" style="margin-top:20px;" name="contact-button">Send</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-sm-12 col-md-1 visible-md-block visible-lg-block"></div>

                <div class="col-sm-12 col-md-3 contact-details">

                    <b>Print &amp; Digital</b><br/>
                    Office: 7940 Goulburn Valley Hwy,<br/>
                     Shepparton, VIC, 3631<br/>
                    Phone: (03) 5831 2312<br/>
                    Contact: Aaron Brown,<br/>
                     Advertising Manager<br/>
                    Direct: (03) 58 203 187<br/>
                    Email: <a href="mailto:aaron.brown@sheppnews.com.au">aaron.brown@sheppnews.com.au</a><br/>
<br/>
                    <b>Classifieds</b><br/>
                    Phone: 1300 660 886<br/>
                    Email: <a href="advertise@localclassies.com.au">advertise@localclassies.com.au</a>

                </div>

            </section>
        </div>
    </main>