{{ set(this, 'title', _Blog.getBlogTitle()) }}


{# {% cache 'indexCache_1' 300 %} #}


{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set homeBlog    = blogData['title'] | lower %}
{% set layoutTitle = _Page.getLayoutTitle() | lower | replace({' ': '_'}) %}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% set config = _Network.getThemeConfig() %}


{% set sectionOrder = [] %}

{# *******************************************************
                GLOBAL SITE SECTIONS
              (each site can override)


******************************************************* #}

{% set regionalSelect = {
    'shepptest': {
        'regional'   :  ["echuca news","kyabram news","benalla news","deniliquin news","finley news","cobram news","seymour news","rochester news","heathcote news","tatura news","yarrawonga news","corowa news","echuca sport"],
        'editors'    :  ['deniliquin news','echuca news','galleries'],
        'sections'   :  ['index', 'local', 'real estate', 'opinion', 'videos', 'galleries', 'contributed photos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01.twig'],
        'localBlogs' :  ['news', 'sport', 'education', 'lifestyle', 'entertainment'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'education', 'entertainment', 'news', 'sport', 'news', 'news', 'sport', 'lifestyle']
    },


    
    'shepparton': {
        'regional'   :  ['echuca news','kyabram news','benalla news','deniliquin news','finley news','cobram news','seymour news','rochester news','heathcote news','tatura news','yarrawonga news','corowa news','echuca sport'],
        'editors'    :  ['deniliquin news','echuca news','galleries'],
        'sections'   :  ['index', 'local', 'real estate', 'opinion', 'videos', 'galleries', 'contributed photos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01.twig'],
        'localBlogs' :  ['news', 'sport', 'education', 'lifestyle', 'entertainment'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'education', 'entertainment', 'news', 'sport', 'news', 'news', 'sport', 'lifestyle']
    },
    'riverine': {
        'regional'   :  ['shepp news','kyabram news','benalla news','deniliquin news','finley news','cobram news','seymour news','rochester news','heathcote news','tatura news','yarrawonga news','corowa news','shepp sport'],
        'editors'    :  ['deniliquin news','shepp news','galleries'],
        'sections'   :  ['local', 'real estate', 'opinion', 'videos', 'galleries', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01.twig'],
        'localBlogs' :  ['news', 'sport', 'education', 'lifestyle', 'entertainment'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'education', 'entertainment', 'news', 'sport', 'news', 'news', 'sport', 'lifestyle']
    },



    'deniliquin': {
        'regional'   :  ['shepp news','kyabram news','benalla news','echuca news','finley news','cobram news','seymour news','rochester news','heathcote news','tatura news','yarrawonga news','corowa news','shepp sport','shepp galleries'],
        'editors'    :  ['echuca news','shepp news','shepp galleries'],
        'sections'   :  ['index', 'local', 'opinion', 'videos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01ev.twig'],
        'localBlogs' :  ['news', 'sport', 'entertainment'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'education', 'sport', 'news', 'sport', 'news', 'news', 'sport', 'news']
    },




    'benalla': {
        'regional'   :  ['shepp news','kyabram news','deniliquin news','echuca news','finley news','cobram news','seymour news','rochester news','heathcote news','tatura news','yarrawonga news','corowa news','shepp sport','shepp galleries'],
        'editors'    :  ['echuca news','shepp news','shepp galleries'],
        'sections'   :  ['index', 'local', 'videos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01ev.twig'],
        'localBlogs' :  ['news', 'sport'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'news', 'sport', 'news', 'sport', 'news', 'news', 'sport', 'news']
    },
    'kyabram': {
        'regional'   :  ['shepp news','deniliquin news','benalla news','echuca news','finley news','cobram news','seymour news','rochester news','heathcote news','tatura news','yarrawonga news','corowa news','shepp sport','shepp galleries'],
        'editors'    :  ['echuca news','shepp news','shepp galleries'],
        'sections'   :  ['index', 'local', 'videos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01ev.twig'],
        'localBlogs' :  ['news', 'sport'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'news', 'sport', 'news', 'sport', 'news', 'news', 'sport', 'news']
    },
    'southern': {
        'regional'   :  ['shepp news','kyabram news','benalla news','echuca news','deniliquin news','cobram news','seymour news','rochester news','heathcote news','tatura news','yarrawonga news','corowa news','shepp sport','shepp galleries'],
        'editors'    :  ['echuca news','shepp news','shepp galleries'],
        'sections'   :  ['index', 'local', 'videos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01ev.twig'],
        'localBlogs' :  ['news', 'sport'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'news', 'sport', 'news', 'sport', 'news', 'news', 'sport', 'news']
    },
    'cobram': {
        'regional'   :  ['shepp news','kyabram news','benalla news','echuca news','finley news','deniliquin news','seymour news','rochester news','heathcote news','tatura news','yarrawonga news','corowa news','shepp sport','shepp galleries'],
        'editors'    :  ['echuca news','shepp news','shepp galleries'],
        'sections'   :  ['index', 'local', 'videos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01ev.twig'],
        'localBlogs' :  ['news', 'sport'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'news', 'sport', 'news', 'sport', 'news', 'news', 'sport', 'news']
    },
    'seymour': {
        'regional'   :  ['shepp news','kyabram news','benalla news','echuca news','finley news','cobram news','deniliquin news','rochester news','heathcote news','tatura news','yarrawonga news','corowa news','shepp sport','shepp galleries'],
        'editors'    :  ['echuca news','shepp news','shepp galleries'],
        'sections'   :  ['index', 'local', 'videos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01ev.twig'],
        'localBlogs' :  ['news', 'sport'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'news', 'sport', 'news', 'sport', 'news', 'news', 'sport', 'news']
    },
    'campaspe': {
        'regional'   :  ['shepp news','kyabram news','benalla news','echuca news','finley news','cobram news','seymour news','deniliquin news','heathcote news','tatura news','yarrawonga news','corowa news','shepp sport','shepp galleries'],
        'editors'    :  ['echuca news','shepp news','shepp galleries'],
        'sections'   :  ['index', 'local', 'videos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01ev.twig'],
        'localBlogs' :  ['news', 'sport'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'news', 'sport', 'news', 'sport', 'news', 'news', 'sport', 'news']
    },
    'mcivor': {
        'regional'   :  ['shepp news','kyabram news','benalla news','echuca news','finley news','cobram news','seymour news','rochester news','deniliquin news','tatura news','yarrawonga news','corowa news','shepp sport','shepp galleries'],
        'editors'    :  ['echuca news','shepp news','shepp galleries'],
        'sections'   :  ['index', 'local', 'videos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01ev.twig'],
        'localBlogs' :  ['news', 'sport'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'news', 'sport', 'news', 'sport', 'news', 'news', 'sport', 'news']
    },
    'tatura': {
        'regional'   :  ['shepp news','kyabram news','benalla news','echuca news','finley news','cobram news','seymour news','rochester news','heathcote news','deniliquin news','yarrawonga news','corowa news','shepp sport','shepp galleries'],
        'editors'    :  ['echuca news','shepp news','shepp galleries'],
        'sections'   :  ['index', 'local', 'videos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01ev.twig'],
        'localBlogs' :  ['news', 'sport'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'news', 'sport', 'news', 'sport', 'news', 'news', 'sport', 'news']
    },
    'yarrawonga': {
        'regional'   :  ['shepp news','kyabram news','benalla news','echuca news','finley news','cobram news','seymour news','rochester news','heathcote news','tatura news','deniliquin news','corowa news','shepp sport','shepp galleries'],
        'editors'    :  ['echuca news','shepp news','shepp galleries'],
        'sections'   :  ['index', 'local', 'real estate', 'videos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01ev.twig'],
        'localBlogs' :  ['news', 'sport'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'news', 'sport', 'news', 'sport', 'news', 'news', 'sport', 'news']
    },
    'corowa': {
        'regional'   :  ['shepp news','kyabram news','benalla news','echuca news','finley news','cobram news','seymour news','rochester news','heathcote news','tatura news','yarrawonga news','deniliquin news','shepp sport','shepp galleries'],
        'editors'    :  ['echuca news','shepp news','shepp galleries'],
        'sections'   :  ['index', 'local', 'videos', 'regional news', 'rural news', 'national'],
        'localpart'  :  ['partials/index/section-01ev.twig'],
        'localBlogs' :  ['news', 'sport'],
        'localOrder' :  ['news', 'news', 'sport', 'news', 'news', 'sport', 'news', 'sport', 'news', 'news', 'sport', 'news']
    }
} %}




{% set pageSections =  {
    'breaking_news' : {
        'template': 'partials/index/section-00.twig',
        'blogs' : ['breaking news'],
        'background': true
    },
    'featured_news' : {
        'template': 'partials/index/section-00.twig',
        'blogs' : ['feature story'],
        'background': true
    },
    'index': {
        'template': 'partials/index/section-15.twig',
        'blogs' : [(homeBlog), 'news', 'sport', 'rural news', 'entertainment', regionalSelect[site]['editors'][0], 'national', regionalSelect[site]['editors'][1], regionalSelect[site]['editors'][2], 'dairy', 'world','aap finance'],
        'articleOrder' : [(homeBlog), 'national', 'sport', regionalSelect[site]['editors'][0], 'news', 'world', 'news', 'rural news', 'aap finance', regionalSelect[site]['editors'][1], 'news', 'national', regionalSelect[site]['editors'][2], 'world', 'dairy']
    },
    "local": {
        "template": regionalSelect[site]['localpart'][0],
        "title" : "Local",
        "blogs": regionalSelect[site]['localBlogs'],
        "articleOrder" : regionalSelect[site]['localOrder'],
        "template_params" : {
            "link" : "/@local"
        }
    },
    "real estate": {
        'title'     : "Real Estate",
        'blogs'     : ['real estate'],
        'background': true,
        'template'  : 'partials/index/section-05.twig' 
    },
    "opinion": {
        'title'     : "Opinion",
        'blogs'     : ['opinion'],
        'template'  : 'partials/index/section-07.twig',
    },
    "videos": {
        'title'     : "Videos",
        'background': true,
        'template'  : 'partials/index/section-video.twig',
    },
    "galleries": {
        'title'     : "Galleries",
        'blogs'     : ['galleries'],
        'template'  : 'partials/index/section-09.twig'
    },
    "contributed photos": {
        'title'     : "Contributed Photos",
        'blogs'     : ['contributed photos'],
        'template'  : 'partials/index/section-08.twig'
    }, 
    "regional news": {
        "title"     : "Regional",
        "blogs"     : regionalSelect[site]["regional"],
        "articleOrder" : regionalSelect[site]["regional"],
        "template"  : "partials/index/section-02.twig",
        "template_params" : {
            "link" : "/@regional"
        }
    },
    "rural news": {
        'title'     : "Rural",
        'blogs'     : ['rural news', 'water', 'animal health', 'dairy', 'livestock', 'rural markets', 'rural news', 'horticulture', 'machinery & products', 'cropping', 'rural management', 'from the experts'],
        "articleOrder" : ["rural news", "water", "animal health", "dairy", "livestock", "rural markets", "rural news", "horticulture", "dairy", "rural news", "machinery & products", "rural management", "water", "cropping", "from the experts", "rural news"],
        'template'  : 'partials/index/section-03.twig',
        'template_params' : {
            'link' : '/@rural'
        }
    },
    "national": {
        'title'     : "National & World",
        'blogs'     : ["national", "aap finance", "world", "national & world sport", "aap horse racing", "national", "aap entertainment"],
        "articleOrder" : ["national", "aap finance", "world", "world", "aap horse racing", "aap afl", "national", "aap entertainment", "national"],
        'template'  : 'partials/index/section-04.twig',
        'template_params' : {
            'link' : '/@national--world'
        }
    },




    'index-country': {
        'template': 'partials/index/section-15.twig',
        'blogs'     : [(homeBlog)]
    },
    'dairy': {
        'title'     : "Dairy",
        'template'  : 'partials/index/section-26.twig',
        'blogs'     : ['dairy']
    },
    "bloggers" :  {
        "title"     : "Bloggers",
        "blogs"     : ["blogs homepage"],
        "template"  : "partials/index/section-25.twig",
        "template_params" : {
            "logo":  "/static/images/megaphone.svg",
        }
    },
    'water': {
        'title'     : "Water",
        'template'  : 'partials/index/section-12.twig',
        'blogs'     : ['water']
    },
    'horticulture': {
        'title'     : "Horticulture",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['horticulture']
    },
    'viticulture': {
        'title'     : "Viticulture",
        'template'  : 'partials/index/section-23.twig',
        'blogs'     : ['viticulture']
    },
    "livestock": {
        'title'     : "Livestock",
        'template'  : 'partials/index/section-09.twig',
        'blogs'     : ['livestock'],
    },
    'cropping': {
        'title'     : "Cropping",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['cropping']
    },






    'index-dairy': {
        'template': 'partials/index/section-16.twig',
        'blogs'     : [(homeBlog)],
    },
    'management': {
        'title'     : "Management",
        'template'  : 'partials/index/section-26.twig',
        'template_params' : {
            'ad': 'mrec-2'
        },
        'blogs'     : ['management']
    },
    'from the experts': {
        'title'     : "From The Experts",
        'template'  : 'partials/index/section-12.twig',
        'blogs'     : ['from the experts']
    },
    'markets': {
        'title'     : "Markets",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['markets']
    },
    'machinery & products': {
        'title'     : "Machinery & Products",
        'template'  : 'partials/index/section-23.twig',
        'blogs'     : ['machinery & products'],
        'template_params' : {
                'ad': 'mrec-6'
        }
    },
    'animal health': {
        'title'     : "Animal Health",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['animal health']
    }
} %}










{# The following list of blogs are required for each site to load the feeds #}


{% set blogFeeds =  {} %}

{# *******************************************************
                MASTHEADS & REGIONAL SITES
******************************************************* #}
{% if site != 'dairy' and site != 'country' %}

    

    {% set blogFeeds = blogFeeds | merge({
            (homeBlog):             { "limit" : 1},
                           
            "aap":                  { "limit" : 5},
            "rural news":           { "limit" : 4},
            'dairy':                { "limit" : 2},

            'water':                { "limit" : 2},
            'animal health':        { "limit" : 1},
            'livestock':            { "limit" : 1},
            'rural markets':        { "limit" : 1},
            'horticulture':         { "limit" : 1},
            'machinery & products': { "limit" : 1},
            'cropping':             { "limit" : 1},
            'rural management':     { "limit" : 1},
            'from the experts':     { "limit" : 1},

            'national':             { "limit" : 3},
            'world':                { "limit" : 2},
            'aap finance':          { "limit" : 1},
            'aap horse racing':     { "limit" : 1},
            'aap afl':              { "limit" : 1},
            'aap entertainment':    { "limit" : 1},
            
        })
    %}
    {# *******************************************************
                    SHEPPARTON & RIVERINE
    ******************************************************* #}
   

    {% for key in regionalSelect[site]['regional'] %}
        {% set blogFeeds = blogFeeds | merge({ 
                (key) : {"limit" : 1 }
            })
        %}
    {% endfor %}

    {% if site == 'shepparton' or site == 'shepp' %}
        {% set blogFeeds = blogFeeds | merge({ 
            "opinion":              { "limit" : 4},
            "real estate":          { "limit" : 3},
            "galleries":            { "limit" : 3},
            "contributed photos":   { "limit" : 3},
            "news":                 { "limit" : 6},
            "sport":                { "limit" : 3},
            "education":            { "limit" : 1},
            "lifestyle":            { "limit" : 1},
            "entertainment":        { "limit" : 1},

            })
        %}
    {% elseif site == 'riverine' %}
        {% set blogFeeds = blogFeeds | merge({ 
            "opinion":              { "limit" : 4},
            "real estate":          { "limit" : 3},
            "galleries":            { "limit" : 3},
            "news":                 { "limit" : 6},
            "sport":                { "limit" : 3},
            "education":            { "limit" : 1},
            "lifestyle":            { "limit" : 1},
            "entertainment":        { "limit" : 1},

            })
        %}
    {% elseif site == 'deniliquin' %}
        {% set blogFeeds = blogFeeds | merge({ 
            "opinion":              { "limit" : 4},
            "news":                 { "limit" : 7},
            "sport":                { "limit" : 4},
            "entertainment":        { "limit" : 1},

            })
        %}

    {% elseif site == 'yarrawonga' %}
        {% set blogFeeds = blogFeeds | merge({ 
            "news":                 { "limit" : 8},
            "sport":                { "limit" : 4},
            "real estate":          { "limit" : 3},

            })
        %}

    {% else %}
        {% set blogFeeds = blogFeeds | merge({ 
            "news":                 { "limit" : 8},
            "sport":                { "limit" : 4},

            })
        %}
    {% endif %}


    {% set sectionOrder = regionalSelect[site]['sections'] %}





{# *******************************************************
                    COUNTRY
******************************************************* #}

{% elseif site == 'country' %}

    {% set blogFeeds = blogFeeds | merge({
            (homeBlog):         { "limit" : 15},
            "dairy":            { "limit" : 6},
            "blogs homepage":   { "limit" : 2},
            "water":            { "limit" : 4},
            "horticulture":     { "limit" : 3},
            "viticulture":      { "limit" : 3},
            "livestock":        { "limit" : 3},
            "cropping":         { "limit" : 3}
        })
    %}

    {% set sectionOrder = ['index-country','dairy', 'bloggers', 'water', 'horticulture', 'viticulture', 'livestock', 'cropping'] %}








{# *******************************************************
                    DAIRY
******************************************************* #}

{% elseif site == 'dairy' %}

    {% set blogFeeds = blogFeeds | merge({
            (homeBlog):             { "limit" : 15},
            "management":           { "limit" : 6},
            "from the experts":     { "limit" : 4},
            "markets":              { "limit" : 3},
            "machinery & products": { "limit" : 3},
            "animal health":        { "limit" : 3}
        })
    %}

    {% set sectionOrder = ['index-dairy', 'management', 'from the experts', 'markets', 'machinery & products', 'animal health'] %}

{% endif %}


{% if layoutTitle == 'major_breaking_news' %}
    {% set blogFeeds = blogFeeds | merge({ 'breaking news': { "limit" : 6} }) %}
    {% set sectionOrder = ['breaking_news'] | merge(sectionOrder) %}
{% endif %} 

{% if layoutTitle == 'minor_breaking_news' %}
    {% set blogFeeds = blogFeeds | merge({ 'breaking news': { "limit" : 1} }) %}
    
    {% set pageSections = pageSections | merge({ 'index' : 
        {
            'template': 'partials/index/section-15.twig',
            'template_params' : {
                'layout': 'breaking news',
                'blogData': blogData
            },
            'blogs' : ['breaking news', (homeBlog), 'news', 'sport', 'rural news', 'entertainment', regionalSelect[site]['editors'][0], 'aap', regionalSelect[site]['editors'][1], 'galleries', 'dairy'],
            'articleOrder' : ['breaking news', (homeBlog), 'aap', 'sport', regionalSelect[site]['editors'][0], 'news', 'aap', 'news', 'rural news', 'aap', regionalSelect[site]['editors'][1], 'news', 'aap', 'galleries', 'aap', 'dairy'],
        }
    }) %}

{% endif %} 




{% set bannerSpots = [1,7,10] %}
{% if site == 'country' %}
    {% set bannerSpots = [3,4,7] %}
{% elseif site == 'dairy' %}
    {% set bannerSpots = [1,3,4] %}
{% elseif 'shepp' in site %}
    {% set bannerSpots = [1,3,6,9] %}
{% endif %}





{# *******************************************************
            CONFIG OPTIONS SET IN PLATFORM
******************************************************* #}

{% if config['active'] is not defined or config['active'] == true %}

    {% if config['page']['index']['sections'] is defined %}
        {% set pageSections = config['page']['index']['sections'] %}
        {% set sectionOrder = pageSections | keys %}

        {% set blogFeeds = {} %}

        {% for i, panel in pageSections %}

            {% if panel['blog'] is not defined %}

                {# If a panel has multiple blogs we get the count of items to fetch from iterating
                over the articleOrder array #}
                {% for blogName in panel['articleOrder'] %}
                {# {% set log = _AppHelper.log(blogName) %} #}
                    {% if blogFeeds[blogName] is not defined %}
                        {% set blogFeeds = blogFeeds | merge({ (blogName): { "limit" : 1} }) %}
                    {% else %}
                        {# {% set log = _AppHelper.log(blogFeeds[blogName].limit ) %} #}

                        {% set count = blogFeeds[blogName].limit %}
                        {# {% set log = _AppHelper.log('count', count) %} #}

                        {% set blogFeeds = blogFeeds | merge({ (blogName): { "limit" : count + 1} }) %}
                    {% endif %}
                {% endfor %}



            {# If a panel has a single blog we get the count of items to fetch from checking the articleCount key #}
            {% else %}
                {# {% set log = _AppHelper.log('in here') %} #}
                {% set blogName = panel['blog'] %}
                {# {% set log = _AppHelper.log(blogName) %} #}

                {% if panel['articleCount'] is defined %}

                    {% set count = panel['articleCount'] %}
                    
                    {% if blogFeeds[blogName] is not defined or blogFeeds[blogName].limit < count %}
                        {% set blogFeeds = blogFeeds | merge({ (blogName): { "limit" : count} }) %}

                    {% endif %}

                {% endif %}
            {% endif %}

        {% endfor %}
        


    {% endif %}
    {# {% set log = _AppHelper.log(blogFeeds) %} #}

    {# {% if config['page']['index']['blogFeeds'] is defined %}
        {% set blogFeeds = config['page']['index']['blogFeeds'] %}
    {% endif %} #}




    {% if layoutTitle == 'major_breaking_news' %}

        {% if pageSections['breaking_news'] is defined %}
            
            {% set blogFeeds = blogFeeds | merge({ 'breaking news': { "limit" : 6} }) %}

            {% set pageSections = pageSections | 
                merge({'breaking_news' : pageSections['breaking_news'] |
                merge({'active'        : true})})
            %} 
        {% endif %} 
        
    {% endif %} 



    {% if layoutTitle == 'minor_breaking_news' %}

        {% if pageSections['minor_breaking_news'] is defined %}

            {% set blogFeeds = blogFeeds | merge({ 'breaking news': { "limit" : 1} }) %}
            
            {% set pageSections = pageSections | 
                merge({ 'index'  : pageSections['minor_breaking_news'] |
                merge({ 'active' : true})}) 
            %}

        {% endif %} 

    {% endif %} 

{% endif %}







{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key in blogFeeds|keys %}

    {% set break = false %}
    {% for blog in networkData.networkBlogs if not break %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : { 
                    'feed' : _Blog.getBlogFeed({'limit': 1, 'offset': 0}), 
                    'link' : '#' } 
                }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and blog.title | lower == key | lower %}

            {% set feed = _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}
            {% set break = true %}
        {% endif %}

    {% endfor %}
{% endfor %}





<main id="main" class="site-main" role="main" data-layout="{{layoutTitle}}">


    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}
    
    {% for pagesection in sectionOrder %}

       {% if pageSections[pagesection]['active'] is not defined or pageSections[pagesection]['active'] == true %}
       
            {% set params = {
                'section'     : pageSections[pagesection],
                'blogFeeds'   : blogFeeds,
                'site'        : site,
                'dev'         : dev,
                'networkData' : networkData,
                'blogData'    : blogData
            } %}
        
            {{this.render('render.twig', params) | raw}} 




            {% if loop.index in bannerSpots %}
                <div class="ad-container">
                    <div class='advert-desktop advert-tablet' data-adsize="banner"></div>
                </div> 
                <div class="ad-container col-sm-9 visible-xs-block">
                    <div class='advert-mobile' data-adsize="mrec"></div>
                </div> 
            {% endif %}


        {% endif %}

    {% endfor %}



</main><!-- .site-main -->





<div class='advert-desktop advert-tablet' data-adsize="interstitial"></div>

{# {% endcache %} #}
