{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{# {% set site        = 'country' %} #}
{% set homeBlog    = blogData['title'] | lower %}


{# {% set layoutTitle = _Page.getLayoutTitle() %} #}

{{this.registerJs("Acme.cards = CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% set sectionOrder = [] %}







{# *******************************************************
                GLOBAL SITE SECTIONS
              (each site can override)
******************************************************* #}

{% set pageSections =  {
    'index': {
        'template': 'partials/index/section-15.twig',
        'template_params' : {
            'ad': 'mrec-2',
        },
        'blogs' : [(homeBlog), 'news', 'sport', 'rural news', 'entertainment', 'deniliquin news', 'aap'],
        'articleOrder' : [(homeBlog), 'aap', 'sport', 'deniliquin news', 'news', 'aap', 'entertainment', 'rural news', 'aap'],
    },
    'local': {
        'template': 'partials/index/section-01.twig',
        'template_params' : {
            'ad': 'mrec-4'
        },
        'title' : 'Local News',
        'blogs': ['news', 'sport', 'education', 'lifestyle', 'entertainment'],
        'articleOrder' : ['news', 'news', 'sport', 'news', 'education', 'news', 'entertainment', 'sport', 'news', 'news', 'sport', 'lifestyle'],
    },
    "real estate": {
        'title'     : "Real Estate",
        'blogs'     : ['real estate'],
        'background': true,
        'template'  : 'partials/index/section-05.twig', 
        'template_params' : {
            'networkData' : networkData
        },
    },
    "automotive": {
        'title'     : "Automotive",
        'blogs'     : ['automotive'],
        'template'  : 'partials/index/section-05.twig', 
    },
    "opinion": {
        'title'     : "Opinion",
        'blogs'     : ['opinion'],
        'template'  : 'partials/index/section-07.twig',
    },
    "videos": {
        'title'     : "Videos",
        'blogs'     : ['video'],
        'background': true,
        'template'  : 'partials/index/section-08.twig'
    },
    "galleries": {
        'title'     : "Galleries",
        'blogs'     : ['galleries'],
        'template'  : 'partials/index/section-08.twig'
    },
    "social": {
        'title'     : "Social",
        'blogs'     : ['social'],
        'template'  : 'partials/index/section-09.twig'
    },
    "contributed photos": {
        'title'     : "Contributed Photos",
        'blogs'     : ['contributed photos'],
        'template'  : 'partials/index/section-08.twig'
    }, 
    "regional news": {
        'title'     : "Regional News",
        'blogs'     : ['regional news'],
        'template'  : 'partials/index/section-02.twig', 
        'template_params' : {
            'ad': 'mrec-6'
        }
    },
    "rural news": {
        'title'     : "Rural News",
        'blogs'     : ['rural news'],
        'template'  : 'partials/index/section-03.twig',
        'template_params' : {
            'ad': 'mrec-8'
        }
    },
    "national": {
        'title'     : "National and World",
        'blogs'     : ['national'],
        'template'  : 'partials/index/section-21.twig', 
        'template_params' : {
            'ad': 'mrec-9'
        }
    },




    'index-country': {
        'template': 'partials/index/section-15.twig',
        'template_params' : {
            'ad': 'mrec-2',
        },
        'blogs'     : [(homeBlog)]
    },
    'dairy': {
        'title'     : "Dairy",
        'template'  : 'partials/index/section-26.twig',
        'template_params' : {
            'ad': 'mrec-4'
        },
        'blogs'     : ['dairy']
    },
    'bloggers' :  {
        'blogs'     : ['blogs homepage'],
        'template'  : 'partials/index/section-25.twig',
        'template_params' : {
            'logo':  networkData.templatePath ~ '/static/images/megaphone.svg',
        }
    },
    'water': {
        'title'     : "Water",
        'template'  : 'partials/index/section-12.twig',
        'blogs'     : ['water']
    },
    'horticulture': {
        'title'     : "Horticulture",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['horticulture']
    },
    'viticulture': {
        'title'     : "Viticulture",
        'template'  : 'partials/index/section-23.twig',
        'blogs'     : ['viticulture'],
        'template_params' : {
            'ad': 'mrec-6'
        }
    },
    "livestock": {
        'title'     : "Livestock",
        'template'  : 'partials/index/section-09.twig',
        'blogs'     : ['livestock'],
    },
    'cropping': {
        'title'     : "Cropping",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['cropping']
    },






    'index-dairy': {
        'template': 'partials/index/section-15.twig',
        'blogs'     : [(homeBlog)]
    },
    'management': {
        'title'     : "Management",
        'template'  : 'partials/index/section-26.twig',
        'template_params' : {
            'ad': 'mrec-2'
        },
        'blogs'     : ['management']
    },
    'from the experts': {
        'title'     : "From The Experts",
        'template'  : 'partials/index/section-12.twig',
        'blogs'     : ['from the experts']
    },
    'markets': {
        'title'     : "Markets",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['markets']
    },
    'machinery & products': {
        'title'     : "Machinery & Products",
        'template'  : 'partials/index/section-23.twig',
        'blogs'     : ['machinery & products'],
        'template_params' : {
                'ad': 'mrec-4'
        }
    },
    'animal health': {
        'title'     : "Animal Health",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['animal health']
    }
} %}








{# The following list of blogs are required for each site to load the feeds #}

{# *******************************************************
                        SHEPPARTON
******************************************************* #}
{% set blogFeeds =  {} %}

{% if site == 'shepparton' or site == 'aapp' %}

    {% set blogFeeds = blogFeeds | merge({
            (homeBlog):             { "limit" : 1},
            "news":                 { "limit" : 6},
            "sport":                { "limit" : 3},
            "education":            { "limit" : 1},
            "lifestyle":            { "limit" : 1},
            "entertainment":        { "limit" : 1},
            "deniliquin news":      { "limit" : 1},
            "aap":                  { "limit" : 3},
            "rural news":           { "limit" : 1},

            "opinion":              { "limit" : 4},
            "real estate":          { "limit" : 3},
            "automotive":           { "limit" : 3},
            "video":                { "limit" : 3},
            "galleries":            { "limit" : 3},
            "social":               { "limit" : 3},
            "contributed photos":   { "limit" : 3},
            "regional news":        { "limit" : 13},
            "rural news":           { "limit" : 16},
            "national":             { "limit" : 9}
        })
    %}

    {% set sectionOrder = ['index', 'local', 'real estate', 'automotive', 'opinion', 'videos', 'galleries', 'social', 'contributed photos', 'regional news', 'rural news', 'national'] %}







{# *******************************************************
                    COUNTRY
******************************************************* #}

{% elseif site == 'country' %}

    {% set blogFeeds = blogFeeds | merge({
            (homeBlog):         { "limit" : 15},
            "dairy":            { "limit" : 5},
            "blogs homepage":   { "limit" : 2},
            "water":            { "limit" : 4},
            "horticulture":     { "limit" : 3},
            "viticulture":      { "limit" : 3},
            "livestock":        { "limit" : 3},
            "cropping":         { "limit" : 3}
        })
    %}

    {% set sectionOrder = ['index-country','dairy', 'bloggers', 'water', 'horticulture', 'viticulture', 'livestock', 'cropping'] %}








{# *******************************************************
                    DAIRY
******************************************************* #}

{% elseif site == 'dairy' %}

    {% set blogFeeds = blogFeeds | merge({
            (homeBlog):             { "limit" : 15},
            "management":           { "limit" : 5},
            "from the experts":     { "limit" : 4},
            "markets":              { "limit" : 3},
            "machinery & products": { "limit" : 3},
            "animal health":        { "limit" : 3}
        })
    %}

    {% set sectionOrder = ['index-dairy', 'management', 'from the experts', 'markets', 'machinery & products', 'animal health'] %}

{% endif %}








{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key, value in blogFeeds %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key | lower %}

            {% set feed = dev 
                    ? articlesArr 
                    : _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) 
            %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}

        {% endif %}
    {% endfor %}
{% endfor %}












<main id="main" class="site-main" role="main">


    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}
    
    {% for pagesection in sectionOrder %}
       
       
        {% set params = {
            'section'   : pageSections[pagesection],
            'blogFeeds' : blogFeeds,
            'site'      : site,
            'dev'       : dev
        } %}
    
        {{this.render('render.twig', params) | raw}} 



        {% if site == 'country' %}
            {% if loop.index == 2 %}
                <div class="ad-container mobad9">
                    <div id='banner-3' class='advert'></div>
                </div> 
            {% elseif loop.index == 4 %}
                <div class="ad-container mobad9">
                    <div id='banner-5' class='advert'></div>
                </div> 
            {% elseif loop.index == 7 %}
                <div class="ad-container mobad9">
                    <div id='banner-7' class='advert'></div>
                </div> 
            {% endif %}
            
        {% elseif site == 'dairy' %}
            {% if loop.index == 1 %}
                <div class="ad-container mobad9">
                    <div id='banner-3' class='advert'></div>
                </div> 
            {% elseif loop.index == 3 %}
                <div class="ad-container mobad9">
                    <div id='banner-5' class='advert'></div>
                </div> 
            {% elseif loop.index == 4 %}
                <div class="ad-container mobad9">
                    <div id='banner-7' class='advert'></div>
                </div> 
            {% endif %}
        
        {% else %}

        
            {% if loop.index == 1 %}
                <div class="ad-container mobad9">
                    <div id='banner-3' class='advert'></div>
                </div> 
            {% elseif loop.index == 7 %}
                <div class="ad-container mobad2">
                    <div id='banner-5' class='advert'></div>
                </div> 
            {% elseif loop.index == 10 %}
                <div class="ad-container mobad9">
                    <div id='banner-7' class='advert'></div>
                </div> 
            {% endif %}
        {% endif %}


    {% endfor %}



</main><!-- .site-main -->





<div id='interstitial-ad' class='advert hidden-xs'></div>