{{ set(this, 'title', _Blog.getBlogTitle()) }}


{% cache 'indexCache_1' 300 %}

{% set networkData = getCache("networkData") %}
{% if (networkData is empty) %}
    {% set networkData = _Network.getNetworkData() %}
    {% set cache = setCache("networkData", networkData, 500) %}
{% endif %}


{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set homeBlog    = blogData['title'] | lower %}
{% set layoutTitle = _Page.getLayoutTitle() | lower | replace({' ': '_'}) %}

{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% set config = _Network.getThemeConfig() %}


{% set sectionOrder = [] %}



{% set pageSections =  {


    'index-country': {
        'template': 'partials/index/section-15.twig',
        'blogs'     : [(homeBlog)]
    },
    "opinion": {
        'title'     : "Opinion",
        'blogs'     : ['opinion'],
        'template'  : 'partials/index/section-07.twig',
    },

    'dairy': {
        'title'     : "Dairy",
        'template'  : 'partials/index/section-26.twig',
        'blogs'     : ['dairy']
    },
    "bloggers" :  {
        "title"     : "Bloggers",
        "blogs"     : ["blogs homepage"],
        "template"  : "partials/index/section-25.twig",
        "template_params" : {
            "logo":  "/static/images/megaphone.svg",
        }
    },
    'water': {
        'title'     : "Water",
        'template'  : 'partials/index/section-12.twig',
        'blogs'     : ['water']
    },
    'horticulture': {
        'title'     : "Horticulture",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['horticulture']
    },
    'viticulture': {
        'title'     : "Viticulture",
        'template'  : 'partials/index/section-23.twig',
        'blogs'     : ['viticulture']
    },
    "livestock": {
        'title'     : "Livestock",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['livestock'],
    },
    'cropping': {
        'title'     : "Cropping",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['cropping']
    },






    'index-dairy': {
        'template': 'partials/index/section-16.twig',
        'blogs'     : [(homeBlog)],
    },
    'management': {
        'title'     : "Management",
        'template'  : 'partials/index/section-26.twig',
        'template_params' : {
            'ad': 'mrec-2'
        },
        'blogs'     : ['management']
    },
    'from the experts': {
        'title'     : "From The Experts",
        'template'  : 'partials/index/section-12.twig',
        'blogs'     : ['from the experts']
    },
    'markets': {
        'title'     : "Markets",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['markets']
    },
    'machinery & products': {
        'title'     : "Machinery & Products",
        'template'  : 'partials/index/section-23.twig',
        'blogs'     : ['machinery & products'],
        'template_params' : {
                'ad': 'mrec-6'
        }
    },
    'animal health': {
        'title'     : "Animal Health",
        'template'  : 'partials/index/section-08.twig',
        'blogs'     : ['animal health']
    }
} %}



{% set blogFeeds =  {} %}

{% if site == 'country' %}

    {% set blogFeeds = blogFeeds | merge({
            (homeBlog):         { "limit" : 15},
            "dairy":            { "limit" : 6},
            "blogs homepage":   { "limit" : 2},
            "water":            { "limit" : 4},
            "opinion":          { "limit" : 4},
            "horticulture":     { "limit" : 3},
            "viticulture":      { "limit" : 3},
            "livestock":        { "limit" : 3},
            "cropping":         { "limit" : 3}
        })
    %}

    {% set sectionOrder = ['index-country', 'opinion', 'dairy', 'bloggers', 'water', 'horticulture', 'viticulture', 'livestock', 'cropping'] %}

{% endif %}


{% if site == 'dairy' %}

    {% set blogFeeds = blogFeeds | merge({
            (homeBlog):             { "limit" : 15},
            "management":           { "limit" : 6},
            "from the experts":     { "limit" : 4},
            "markets":              { "limit" : 3},
            "machinery & products": { "limit" : 3},
            "animal health":        { "limit" : 3}
        })
    %}

    {% set sectionOrder = ['index-dairy', 'management', 'from the experts', 'markets', 'machinery & products', 'animal health'] %}

{% endif %}




{# {% set bannerSpots = [1,7,10] %}
{% if site == 'country' %}
    {% set bannerSpots = [1,4,7] %}
{% elseif site == 'dairy' %}
    {% set bannerSpots = [1,3,4] %}
{% elseif 'shepp' in site %}
    {% set bannerSpots = [1,3,6,9] %}
{% endif %} #}





{# *******************************************************
            CONFIG OPTIONS SET IN PLATFORM
******************************************************* #}

{% if config['active'] is not defined or config['active'] == true %}

    {% if config['page']['index']['sections'] is defined %}
        {% set pageSections = config['page']['index']['sections'] %}
        {% set sectionOrder = pageSections | keys %}

        {% set blogFeeds = {} %}

        {% for i, panel in pageSections %}

            {% if panel['articleOrder'] is defined %}

                {# If a panel has multiple blogs we get the count of items to fetch from iterating
                over the articleOrder array #}
                {% for blogName in panel['articleOrder'] %}

                    {% if blogFeeds[blogName] is not defined %}
                        {% set blogFeeds = blogFeeds | merge({ (blogName): { "limit" : 1} }) %}
                    {% else %}

                        {% set count = blogFeeds[blogName].limit %}

                        {% set blogFeeds = blogFeeds | merge({ (blogName): { "limit" : count + 1} }) %}
                    {% endif %}
                {% endfor %}



            {# If a panel has a single blog we get the count of items to fetch from checking the articleCount key #}
            {% else %}

                {% set blogName = panel['blog'] %}

                {% if panel['articleCount'] is defined %}

                    {% set count = panel['articleCount'] %}

                    {% if blogFeeds[blogName] is not defined or blogFeeds[blogName].limit < count %}
                        {% set blogFeeds = blogFeeds | merge({ (blogName): { "limit" : count} }) %}
                    {% endif %}

                {% endif %}
            {% endif %}

        {% endfor %}
    {% endif %}




    {% if layoutTitle == 'major_breaking_news' %}

        {% if pageSections['breaking_news'] is defined %}

            {% set blogFeeds = blogFeeds | merge({ 'breaking news': { "limit" : 6} }) %}

            {% set pageSections = pageSections |
                merge({'breaking_news' : pageSections['breaking_news'] |
                merge({'active'        : true})})
            %}
        {% endif %}

    {% endif %}


    {% if layoutTitle == 'minor_breaking_news' %}
        {% if config['page']['index']['minor-breaking-news'] is defined %}
            {% set breaking = config['page']['index']['minor-breaking-news'] %}
            {% set breaking = breaking | merge({'active': true}) %}


            {% set blogFeeds = blogFeeds | merge({
                (breaking.blog) : {
                    "limit" : breaking.articleCount
                    }
                }) %}

            {% set pageSections = [breaking] | merge(pageSections) %}


        {% endif %}
    {% endif %}

{% endif %}







{# *******************************************************
                Fetch all needed feeds
******************************************************* #}
{% for key in blogFeeds|keys %}

    {% set break = false %}
    {% for blog in networkData.networkBlogs if not break %}


        {# FOR DEV  #}
        {% if dev %}
            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed' : _Blog.getBlogFeed({'limit': 1, 'offset': 0}),
                    'link' : '#' }
                }) %}
        {% endif %}


        {# FOR PRODUCTION #}
        {% if not dev and blog.title | lower == key | lower %}

            {% set feed = _Blog.getBlogFeed({'limit': blogFeeds[key]['limit'], 'offset': 0, 'blogid':blog.guid}) %}

            {% set blogFeeds = blogFeeds | merge({
                (key) : {
                    'feed'      : feed,
                    'link'      : blog.link
                    }
                }) %}
            {% set break = true %}
        {% endif %}

    {% endfor %}
{% endfor %}


{#{% set log = _AppHelper.log(blogFeeds) %}#}


<main id="main" class="site-main" role="main" data-layout="{{layoutTitle}}">


    {# *******************************************************
                        RENDER SECTIONS
    ******************************************************* #}

    {% for pagesection in sectionOrder %}

        {% if pageSections[pagesection]['active'] is not defined or pageSections[pagesection]['active'] == true %}

            {% set params = {
                'section'     : pageSections[pagesection],
                'blogFeeds'   : blogFeeds,
                'site'        : site,
                'dev'         : dev,
                'networkData' : networkData,
                'blogData'    : blogData
            } %}

            {{this.render('render.twig', params) | raw}}




            {% if loop.index in bannerSpots %}
                <div class="ad-container">
                    <div class='advert-desktop advert-tablet' data-adsize="banner"></div>
                </div>
                <div class="ad-container col-sm-9 visible-xs-block">
                    <div class='advert-mobile' data-adsize="mrec"></div>
                </div>
            {% endif %}


        {% endif %}

    {% endfor %}



</main><!-- .site-main -->
{% if config['newsletter'] is defined and config['newsletter'] != "" %}
    <script>

        ga(function(tracker) {
            // Gets the client ID of the default tracker.
            var clientId = tracker.get('clientId');
            // Gets a reference to the window object of the destination iframe.
            var frameWindow = document.getElementById('newsletter-iframe').contentWindow;
            // Sends the client ID to the window inside the destination frame.
            frameWindow.postMessage(clientId, '{{config['newsletter']}}');
        });
    </script>
{% endif %}



<div class='advert-desktop advert-tablet' data-adsize="interstitial"></div>
<div class='advert-desktop advert-tablet' data-adsize="interstitial"></div>
<div class='advert-desktop advert-tablet' data-adsize="interstitial"></div>
<div class='advert-desktop' data-adsize="teads"></div>

{% endcache %}
