<div class="page_section" style="height:100%">
    <section class="container" style="max-width:none;height:100%">
        <!-- Begin Terms -->
        <div class="content-wrap clearfix" style="height:100%">
            <div class="row" style="height:100%">
                <div class="col-sm-9" style="height:100%">
                    <div class="content_area is-wrapper clearfix page-content">
                        <div class="col-sm-9 header">
                            <div class="row">
                                <div class="hk">
                                <h2>Reset Password</h2>

                                <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>                        
                        <div id="reset-password"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        tp = window["tp"] || [];
        tp.push(["init", function() {
            iframeUrl: "https://id-au.piano.io<https://id-au.piano.io/>",
            // Password can be reset only if user is anonymous
            if (!tp.user.isUserValid()) {
                // If URL has reset_token parameter
                var tokenMatch = location.search.match(/reset_token=([A-Za-z0-9]+)/);
                if (tokenMatch) {
                    // Get value of the token
                    var token = tokenMatch[1];
                    // Present password reset form with the found token
                    tp.pianoId.show({
                        displayMode: "inline",
                        containerSelector: "#reset-password",
                        "resetPasswordToken": token, loggedIn: function () {
                            // Once user logs in - refresh the page
                            location.reload();
                        }
                    });
                }
            }
        }]);
    });
</script>