<div class="page_section" style="height:100%">
    <section class="container" style="height:100%">
        <!-- Begin Terms -->
        <div class="content-wrap" style="height:100%">
            <div class="row" style="height:100%">
                <div class="col-12" style="height:100%">
                    <div class="hk">
                        <h2>My Account</h2>
                        <p>&nbsp;</p>
                    </div>              
                    <div id='my-account'></div>
                    <div id='my-account-footer'></div>
                </div>
            </div>
        </div>
    </section>
</div>