

{% set count = {} %}

{% set feedArr = [] %}


{# If a page section has articles from multiple blogs, assemble here #}
{% if section.articleOrder is defined and section.articleOrder | length > 0 %}
    {% for a in section.articleOrder %}

        {% set count = count | merge( { (a) : count[a] + 1 } ) %}
        {% if blogFeeds[a].feed.articles | length >= count[a] %}
            {% set feedArr = feedArr | merge( { (loop.index0) : blogFeeds[a].feed.articles[ count[a] - 1 ] }) %}
        {% endif %}
    {% endfor %}

{# else if a page section has articles from a single blog, no assembly required #}
{% else %}

    {% set feedArr = blogFeeds[section.blogs[0]].feed.articles %}

{% endif %}



{% if section.template != '' %}
    {% set params = {
        articles        : feedArr,
        link            : blogFeeds[ section.blogs[0] ].link,
        title           : section.title is defined ? section.title : '',
        dev             : dev,
        site            : site,
        networkData     : networkData,
        blogData        : blogData,
    } %}

    {% if section.template_params is defined and section.template_params | length > 0  %}
        {% set params = params | merge(section.template_params) %}
    {% endif %}

    {% set margin = 'u-margin-top-30 u-desktop-margin-top-40' %}

    {% if section.background %}
        <div class="section-background {{margin}}">
            {% set margin = '' %}

    {% endif %}

        <div class="container {{margin}}">
            {{this.render(section.template, params) | raw}} 
        </div>

    {% if section.background %}
        </div>
    {% endif %}

{% endif %}