

{% set count = {} %}
{% set feedArr = [] %}
{% set blogLink = "" %}
{% set thisBlog = {} %}

{# If a page section has articles from multiple blogs, assemble here #}
{% if section.articleOrder is defined and section.articleOrder | length > 0 %}
    {% for a in section.articleOrder %}

        {% set count = count | merge( { (a) : count[a] + 1 } ) %}
        {% if blogFeeds[a].feed.articles | length >= count[a] %}
            {% set feedArr = feedArr | merge( { (loop.index0) : blogFeeds[a].feed.articles[ count[a] - 1 ] }) %}
        {% endif %}
    {% endfor %}

    {% set blogLink = blogFeeds[section.blogs[0]].link %}
    {% set blogFeedArticleCount = blogFeeds[section.blogs[0]].count %}

{# else if a page section has articles from a single blog, no assembly required #}
{% else %}

    {% if section.blogs is defined and blogFeeds[section.blogs[0]] is defined %}
        {% set feedArr = blogFeeds[section.blogs[0]].feed.articles %}
        {% set blogLink = blogFeeds[section.blogs[0]].link %}

    {% else %}
        {% set feedArr = blogFeeds[section.blog].feed.articles %}
        {% set blogLink = blogFeeds[section.blog].link %}

    {% endif %}
{% endif %}



{% if section.template != '' %}
    {% set params = {
        articles        : feedArr,
        link            : section.link is defined ? section.link : blogLink,
        title           : section.title is defined ? section.title : '',
        dev             : dev,
        site            : site,
        networkData     : networkData,
        blogData        : blogData,
    } %}

    {% if section.template_params is defined and section.template_params | length > 0  %}
        {% set params = params | merge(section.template_params) %}
    {% endif %}

    {% set margin = 'u-mobile-margin-top-20 u-tablet-margin-top-30 u-desktop-margin-top-40' %}

    {% if section.background %}
        <div class="section-background {{margin}}">
            {% set margin = '' %}
    {% endif %}

        {% if (section.wrapper is not defined and section.startWrapper is not defined) or section.startWrapper is defined and section.startWrapper == true %}
            <div class="container {{section.title}} {{margin}}">
        {% endif %}

        {% if section.startRow is defined and section.startRow == true %}
            <div class="row">
        {% endif %}

            {{this.render(section.template, params) | raw}}

        {% if section.endRow is defined and section.endRow == true %}
            </div>
        {% endif %}

        {% if (section.wrapper is not defined and section.endWrapper is not defined) or section.endWrapper is defined and section.endWrapper == true %}
            </div>
        {% endif %}

    {% if section.background %}
        </div>
    {% endif %}

{% endif %}
