$acme-grid-columns:                12 !default;
$acme-grid-gutter-width:           30px !default;
$acme-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


$acme-grid-gutter-width: 30px !default;
$acme-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px
) !default;



// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//
//    >> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    576px
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
  }
  


// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
      @media (min-width: $min) {
        @content;
      }
    } @else {
      @content;
    }
}



.acme-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}





@function acme-breakpoint-min($name, $breakpoints: $acme-grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
  }

  @mixin acme-media-breakpoint-up($name, $breakpoints: $acme-grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
      @media (min-width: $min) {
        @content;
      }
    } @else {
      @content;
    }
  }


@mixin acme-make-container() {
    width: 100%;
    padding-right: ($acme-grid-gutter-width / 2);
    padding-left: ($acme-grid-gutter-width / 2);
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

  }
  
  
  // For each breakpoint, define the maximum width of the container in a media query
  @mixin acme-make-container-max-widths($max-widths: $acme-container-max-widths, $breakpoints: $acme-grid-breakpoints) {
    @each $breakpoint, $container-max-width in $max-widths {
      @include media-breakpoint-up($breakpoint, $breakpoints) {
        max-width: $container-max-width;
      }
    }
  }
  


  .acme-container {
    @include acme-make-container();
    @include acme-make-container-max-widths();
  }

  .acme-container-fluid {
    @include acme-make-container();
  }















@function acme-breakpoint-next($name, $breakpoints: $acme-grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
  }
  
  @function acme-breakpoint-min($name, $breakpoints: $acme-grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
  }
  
  @function acme-breakpoint-max($name, $breakpoints: $acme-grid-breakpoints) {
    $next: acme-breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - .02px, null);
  }
  
  @function acme-breakpoint-infix($name, $breakpoints: $acme-grid-breakpoints) {
    @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
  }
  

  @mixin acme-media-breakpoint-up($name, $breakpoints: $acme-grid-breakpoints) {
    $min: acme-breakpoint-min($name, $breakpoints);
    @if $min {
      @media (min-width: $min) {
        @content;
      }
    } @else {
      @content;
    }
  }

  @mixin acme-media-breakpoint-down($name, $breakpoints: $acme-grid-breakpoints) {
    $max: acme-breakpoint-max($name, $breakpoints);
    @if $max {
      @media (max-width: $max) {
        @content;
      }
    } @else {
      @content;
    }
  }
  
  @mixin acme-media-breakpoint-between($lower, $upper, $breakpoints: $acme-grid-breakpoints) {
    $min: acme-breakpoint-min($lower, $breakpoints);
    $max: acme-breakpoint-max($upper, $breakpoints);
  
    @if $min != null and $max != null {
      @media (min-width: $min) and (max-width: $max) {
        @content;
      }
    } @else if $max == null {
      @include acme-media-breakpoint-up($lower, $breakpoints) {
        @content;
      }
    } @else if $min == null {
      @include acme-media-breakpoint-down($upper, $breakpoints) {
        @content;
      }
    }
  }
  
  @mixin acme-media-breakpoint-only($name, $breakpoints: $acme-grid-breakpoints) {
    $min: acme-breakpoint-min($name, $breakpoints);
    $max: acme-breakpoint-max($name, $breakpoints);
  
    @if $min != null and $max != null {
      @media (min-width: $min) and (max-width: $max) {
        @content;
      }
    } @else if $max == null {
      @include acme-media-breakpoint-up($name, $breakpoints) {
        @content;
      }
    } @else if $min == null {
      @include acme-media-breakpoint-down($name, $breakpoints) {
        @content;
      }
    }
  }

  
  @mixin acme-make-col-ready() {
    position: relative;
    // Prevent columns from becoming too narrow when at smaller grid tiers by
    // always setting `width: 100%;`. This works because we use `flex` values
    // later on to override this initial width.
    width: 100%;
    min-height: 1px; // Prevent collapsing
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);

  }
  
  @mixin acme-make-col($size, $columns: $acme-grid-columns) {
    flex: 0 0 percentage($size / $columns);
    // Add a `max-width` to ensure content within each column does not blow out
    // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
    // do not appear to require this.
    max-width: percentage($size / $columns);

  }
  
  @mixin acme-make-col-offset($size, $columns: $acme-grid-columns) {
    $num: $size / $columns;
    margin-left: if($num == 0, 0, percentage($num));
  }
  

@mixin acme-make-grid-columns($columns: $acme-grid-columns, $gutter: $acme-grid-gutter-width, $breakpoints: $acme-grid-breakpoints) {
    // Common properties for all breakpoints
    %acme-grid-column {
        position: relative;
        width: 100%;
        min-height: 1px; // Prevent columns from collapsing when empty
        padding-right: ($gutter / 2);
        padding-left: ($gutter / 2);
        box-sizing: border-box;

    }

    @each $breakpoint in map-keys($breakpoints) {
        $infix: acme-breakpoint-infix($breakpoint, $breakpoints);

        // Allow columns to stretch full width below their breakpoints
        @for $i from 1 through $columns {
            .acme-col#{$infix}-#{$i} {
                @extend %acme-grid-column;
            }
        }
        .acme-col#{$infix},
        .acme-col#{$infix}-auto {
            @extend %acme-grid-column;
        }

        @include acme-media-breakpoint-up($breakpoint, $breakpoints) {
        // Provide basic `.col-{bp}` classes for equal-width flexbox columns
            .acme-col#{$infix} {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }
            .acme-col#{$infix}-auto {
                flex: 0 0 auto;
                width: auto;
                max-width: none; // Reset earlier grid tiers
            }

            @for $i from 1 through $columns {
                .acme-col#{$infix}-#{$i} {
                @include acme-make-col($i, $columns);
                }
            }

            .acme-order#{$infix}-first { order: -1; }

            .acme-order#{$infix}-last { order: $columns + 1; }

            @for $i from 0 through $columns {
                .acme-order#{$infix}-#{$i} { order: $i; }
            }

            // `$columns - 1` because offsetting by the width of an entire row isn't possible
            @for $i from 0 through ($columns - 1) {
                @if not ($infix == "" and $i == 0) { // Avoid emitting useless .offset-0
                    .acme-offset#{$infix}-#{$i} {
                        @include acme-make-col-offset($i, $columns);
                    }
                }
            }
        }
    }
}


@include acme-make-grid-columns();


