//Bootstrap
@import "variables";
@import "bootstrap";
@import "functions";
@import "font-awesome-4.7.0/scss/font-awesome";
@import "mixins";
@import "login";
@import "profile";
@import "user_profile";
@import "user_posts";
// @import "profile-admin";
@import "modal";
@import "owl-theme";



//Partials
@import "common";
@import "placeholder";
@import "site-footer";

//Header
@import "primary-menu";
@import "site-header";

//Home page
@import "page-index";
@import "page-blog";
@import "page-search";


//Article page
@import "article";
@import "_article-content";

//Section page
@import "section-page";

//Static Pages


@import "event";



// layouts
@import "article-gallery";


//Cards
@import "card";
@import "card-sm";
@import "card-rec";
@import "card-event";
@import "card-blogger";
@import "card-sm-wide";
@import "card-opinion";
@import "card-popular";
@import "card-rec-full";
@import "card-top-stories";
@import "card-home-special";
@import "card-home-feature";
@import "card-feature-side";
@import "card-home-feature-sm";
@import "card-home-feature-thin";