body.layout-article-gallery {
	background:color(white);
}

body.article {


	.gallery {

		article.article-main {
			margin-bottom:0;

			.gallery-row {
				padding-top:62px;
				background:color(white);

				.gallery-title {
				    font-size: rem(41);
				    color: #000;
				    margin-bottom: 25px;
				    @media screen and (max-width: $sm-break-down) {
				        font-size: rem(30);
				        margin-bottom: 15px;
				    }
				}



				figure {

					> figcaption {
						 > p {
						 	font-size: rem(12);
						 	font-family:$font-family-serif;
						 	float:none;
						 	line-height:1.33;
						 	text-align:center;
							color:black;
						 }
						 > p.count {
							margin-top:7px;
						 }

					}
				}
				.owl-thumbs {
					margin-top:30px;
					img.owl-thumb-item {
						width:152px;
						height:95px;
						margin-right:10px;
					}
				}
			}
		}
	}
}
