body.layout-article-gallery {
	background:color(galleryback);
}

body.article {


	.gallery {

		article.article-main {


			.gallery-row {
				padding-top:62px;
				background:color(galleryback);
			}

		}
	}
	
}
