.top-stories {
    @media screen and (min-width: $sm-break){

        a.card {
            @include card-image-none;
            height:100%;

            &:after {
                content: '';
                display: block;
                height: 100%;
                background: color(lightgrey);
                width: 1px;
                position: absolute;
                top: 0;
                right: 5px;
            }        

            article {
           

                > .content {
                    width:100%;

                    h2{
                        font-size: rem(15);
                        font-weight:normal;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        overflow:hidden;
                        max-height:34px;
                    }

                    >p {
                        display:none;
                    }
                }
            }
        }
    }
}

.top-stories-mobile {
    @media screen and (max-width: $sm-break-down){

        a.card {
            @include card-image-none;

            padding-top:15px;
            border-top: 1px solid color(lightgrey);

            height:100%;

            article {

                > .content {
                    width:100%;

                    h2{
                        font-size: rem(15);
                        font-weight:normal;
                        line-height:1.2;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        overflow:hidden;
                        max-height:40px;
                    }

                    >p {
                        display:none;
                    }
                }
            }
        }
    }
}