.home-feature-thin {
    @media screen and (min-width: $mmd-break){

        height:530px;
        a.card {
            @include card-image-full;

            height:100%;
            color:$white;

            article {
                position:relative;

                > figure {
                    @include tintbefore();
                    // width:auto;
                    // height:10px;
                }

                > .content {
                    width:100%;
                    padding: 403px 20px 10px 30px;
                    z-index:10;

                    .category{
                        color:white;
                    }


                    h2{
                        font-family:$font-family-serif;
                        font-size: rem(22);
                        font-weight:600;
                        margin-top: 10px;
                        margin-bottom:10px;
                        overflow:hidden;
                        max-height: 55px;
                        line-height: 1.18;

                    }


                    >p {
                        display:none;
                    }


                    .author{
                        border-right: 1px solid color(white);

                        img{
                            display:none;
                        }
                        p{
                            color:white;
                        }
                    }

                    time{
                        color:white;
                    }
                }
            }
        }
    }
}

.home-feature-thin-mobile {
    @media screen and (max-width: $mmd-break){

        height:387px;
        margin-bottom:20px;

        a.card {
            @include card-image-full;

            height:100%;
            color:$white;

            article {
                position:relative;

                > figure {
                    @include tintbefore();
                    // width:auto;
                    // height:10px;
                }

                > .content {
                    width:100%;
                    padding: 270px 20px 10px 30px;
                    z-index:10;

                    .category{
                        color:white;
                    }


                    h2{
                        font-family:$font-family-serif;
                        font-size: rem(22);
                        font-weight:600;
                        margin-top: 10px;
                        margin-bottom:10px;
                        overflow:hidden;
                        max-height: 55px;
                        line-height: 1.18;

                    }


                    >p {
                        display:none;
                    }


                    .author{
                        border-right: 1px solid color(white);

                        img{
                            display:none;
                        }
                        p{
                            color:white;
                        }
                    }

                    time{
                        color:white;
                    }
                }
            }
        }
    }
}