@mixin card-home-special-base() {

    a.card {
        @include card-image-bottom(100%, 405px);
        position:relative;

        height:100%;

        > article {

            > .content{
                width:100%;

                > .category{
                    color:color(red);
                }
                > h2{
                    font-size: rem(32);
                    font-weight:600;
                    margin-top: 0;
                    overflow:hidden;
                    margin-bottom:23px;
                    max-height: 80px;
                    line-height: 1.18;

                }
                > p.excerpt {
                    display:none;
                }

                .author{
                    display:none;
                }
                
            }
        }
        &.without__image {
        
            background:color(offwhite);

            article {
                > .content {
                    color:red;

                    .category{
                        color:color(darkgrey);
                        &:before {
                            background: url(../images/black-arrow.svg);
                            background-repeat:no-repeat;
                        }
                    }
                    .author {
                        >p {
                            color:color(darkgray);
                            border-right:1px solid color(darkgray);
                        }
                        time {
                            color:color(darkgray);
                        }

                    }

                }
            }
        }   
        &.social {
            .content {
                padding-top:31px;
                .icon {
                    margin-bottom:200px;
                }

                > p {
                    font-size: rem(34);
                    font-weight:600;
                    margin-top: 0;
                    margin-bottom:6px;
                    overflow:hidden;
                    max-height: 80px;
                    line-height: 1.18;

                }
            }
            &.twitter{
                .content{
                    >p {
                        max-height:130px;
                        font-size:rem(22);
                        line-height:1.27;
                    }

                }
                &.without__image {
                    .content {
                        > p {
                            color:black;
                        }
                    }
                }
            }

            &.instagram{
                .content{
                    >p {
                        min-height:20px;
                        max-height:130px;
                        font-size:rem(22);
                        line-height:1.27;
                    }
                }
            }
        }

    }
}


.home-special {
    @media screen and (min-width: $mmd-break){
        @include card-home-special-base();

        height:550px;
        a.card {
            article {
                > .content {

                    h2{
                        font-size: rem(34);
                    }
                }
            }
        }
    }
}


.home-special-tablet {
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-home-special-base();

        height:550px;
        a.card {
            article {
            
                > .content {
                    width:100%;

                    .category{
                        font-size:rem(10);
                    }

                    h2{
                        font-size: rem(30);
                    }
                }
            }
        }
    }
}






.home-special-mobile {
    @media screen and (max-width: $sm-break-down){
        @include card-home-special-base();

        margin-bottom:20px;

        a.card {
            article {
                > figure {
                    height:60vw;
                }
                > .content {

                    .category{
                        margin-bottom:5px;
                    }

                    h2{
                        font-size: rem(26);
                        margin-bottom: 5px;
                        max-height: 60px;
                        line-height: 1.15;
                    }
                }
            }

            &.social {
                .content {

                    padding: 16px 20px 5px 10px;

                    .icon {
                        margin-bottom:45px;
                    }

                    > p {
                        font-size: rem(26);
                        margin-top: 5px;
                        min-height:20px;
                        max-height: 60px;
                        line-height: 1.15;
                    }
                }

                &.twitter, &.instagram{
                    .content{
                        >p {
                            max-height:45px;
                            font-size:rem(18);
                            line-height:1.22;
                            margin-bottom:10px;
                        }

                    }
                }

                &.instagram{
                    &.without__content {
                        .content {
                            .icon {
                                margin-bottom: 90px;
                            }
                            >p {
                                margin:0;
                            }
                        }
                    }
                }
                &.youtube{
                    .content{
                        .icon {
                            margin-bottom:90px;
                        }
                    }
                }
            }
        }
    }
}
