.feature-side {
    clear:both;
    height:104px;
    margin-bottom:20px;
    font-family: $base-font-family;

    a.card {
        @include card-image-left(80px, 95px);

        height:100%;
        padding-top:13px;
        border-top: 1px solid color(lightgrey);

        article {
        
            > figure {
                margin-right:15px;
            }

            > .content {
                width:100%;

                .category{
                    color: color(red);
                    font-size: rem(10);
                }


                h2{
                    font-size: rem(15);
                    font-weight:700;
                    margin-top: 7px;
                    overflow:hidden;
                    height:60px;
                    line-height:1.15;
                    max-height: 60px;
                }


                >p {
                    display:none;
                    // font-size: rem(13);
                    // color: color(lightgrey);
                    // height:16px;
                }


                .author{
                    img{
                        display:none;
                    }
                    p{

                    }
                }

                time{
                }
            }
        }
    }
}