.home-feature-sm {
    @media screen and (min-width: $mmd-break){

        height:400px;
        a.card {
            @include card-image-full;

            height:100%;
            color:$white;

            article {
            
                > figure {
                    @include gradientafter;
                    right:15px;
                    left:15px;
                    width:auto;
                    // height:10px;
                }

                > .content {
                    width:100%;
                    padding: 270px 20px 10px 30px;


                    .category{
                        color:white;
                    }


                    h2{
                        font-size: rem(22);
                        width:50%;
                        font-weight:600;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        overflow:hidden;
                        max-height: 80px;
                        line-height: 1.18;
                    }


                    >p {
                        display:none;
                    }


                    .author{
                        border-right: 1px solid color(white);

                        img{
                            display:none;
                        }
                        p{
                            color:white;
                        }
                    }

                    time{
                        color:white;
                    }
                }
            }
        }
    }
}