@mixin top-stories-base() {
    a.card {
        @include card-image-none;
        height: 75px;

        > article {
            > figure{
            }
            > .content{
                width:100%;

                > .category{
                }
                > h2{
                    font-size: rem(14);
                    line-height:1.2;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    overflow:hidden;
                    font-weight: normal;
                    height: 42px;
                }
                > p {
                    display: none;
                }
                > .author {
                    height: 16px;

                    > time {
                        display: inline;
                    }
                }
            }
        }
        &.social {
            .content {
                .icon {
                    // display:none;
                }

                > p {
                    display: block;
                    font-size: rem(14);
                    line-height:1.2;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    overflow:hidden;
                    font-weight: normal;
                    height: 42px;
                }
            }
        }
    }
}


.top-stories {

    @media screen and (min-width: $sm-break){
        @include top-stories-base();
        
        &:last-of-type {
            a.card {
                &:after {
                    display:none;
                }
            }
        }

        a.card {

            &:after {
                content: '';
                display: block;
                height: 100%;
                background: color(lightgrey);
                width: 1px;
                position: absolute;
                top: 0;
                right: 5px;
            }        
        }
    }
}

.top-stories-tablet {
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include top-stories-base();
        a.card {
            article {
                > .content {
                    .category {
                        font-size:rem(10);
                    }
                    h2 {
                        font-size:rem(12);
                        height:48px;
                        line-height:1.33;
                    }
                    .author {
                        font-size:rem(10);
                    }
                }
            }
        }
    }
}



.top-stories-mobile {
    @media screen and (max-width: $sm-break-down){
        @include top-stories-base();
        a.card {
            height: 85px;
            article {
                > .content {
                    h2{
                        font-size: rem(16);
                        line-height:1.35;
                        height:36px;
                        font-weight: normal;
                    }

                    > p {
                        display: none;
                    }

                    .author {
                        bottom: 7px;
                    }
                }
            }
        }
    }
}