.card-xs{
    // clear:both;
    @media screen and (min-width: $md-break){
        @include card-image-left(80px, 95px);

        position:relative;


        a.card {
            
            height:95px;

            > article {
                position:relative;

                > figure{
                    overflow: hidden;
                    margin-right:15px;

                    &.video {
                        &:before{
                           @include videoIcon();
                        }
                    }
                }


                > .content{
                    position:relative;
                    padding: 0;

                    > .category{
                    }

                    > h2{
                        font-weight: 600;
                        font-size: rem(14);
                        line-height:1.14;
                        margin-top:5px;
                        height: 32px;
                        margin-bottom: 7px;
                    }

                    > p {
                        font-size: rem(13);
                        height:17px;
                        line-height: 1;
                        margin-top: 2px;
                    }

                    > time {
                        margin-top:9px;
                    }

                    > .author{
                        margin-top:9px;

                        >p {
                            margin: 0;
                            padding: 0;
                        }
                    }


                }
            }


            &.article.without__image {
                .content {
                    padding-top:87px;
                    height:100%;

                    h2 {
                        font-size: rem(17);
                        font-weight:bold;
                        max-height:52px;
                    }

                    > p {
                        font-size: rem(13);
                        display: block;
                        max-height:100px;
                        margin-bottom: 18px;
                    }
                }
            }   
        }
    }
}