@mixin card-sm-base() {
    position:relative;
    a.card {
        > article {
            position:relative;
            > figure {
            }

            > .content {
                position:relative;
                padding: 0;

                > .category{
                }
                > h2{
                    font-weight: normal;
                    font-size: rem(17);
                    line-height:1.29;
                    margin-top:5px;
                    margin-bottom:10px;
                    height:45px;
                }
                > p.excerpt {
                    display:none;
                }
                .author {
                    height: 18px;
                    width: 100%;
                }
                
                > time {
                }
            }
        }

    }
    &.dairy-card {
        a.card {
            > article {
                > figure {
                    margin-bottom: 3px;
                }

                > .content {
                    background-color: #7bc127;
                    padding: 20px;
                    height: 84px;
 
                    > .category {
                        display: none;
                    }

                    h2 {
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: white;
                        height: 24px;
                        margin-bottom: 0px;
                    }

                    > p {
                        display: block;
                        font-size: rem(14);
                        text-align: center;
                        text-transform: uppercase;
                        color: white;
                        height: 24px;
                    }

                    > .author {
                        display: none;
                    }
                }
            }
        }
    }
}



.card-sm{
    @media screen and (min-width: $mmd-break){
        @include card-sm-base();

        a.card {
            @include card-image-top(auto, 160px);
            height:250px;

            > article {

                > figure{
                    margin-bottom:6px;
                }
                > .content {
                    height: 84px;

                }
            }

            &.withImage__content {
                .content {
                    height: 80px;
                }
            }


            &.without__image {
                background:color(offwhite);
                .content {
                    padding:63px 20px 5px 20px;

                    height:100%;

                    h2 {
                        font-size: rem(17);
                        font-weight:normal;
                        line-height: 1.29;
                        height:70px;
                    }

                    .author {
                        bottom: 30px;
                        &:after {
                            content:'';
                            position: absolute;
                            display:block;
                            width: 62px;
                            height:1px;
                            background:color(lightgrey);
                            margin-top:10px;
                        }
                    }

                }
            }  

            &.social {
                &.withImage__content {
                    .content {
                        .icon {
                            display:block;
                            position: absolute;
                            top: -150px;
                            left: 10px;
                        }

                        >p {
                            max-height:65px;
                            margin-bottom:6px;
                        }

                        .category {
                            padding-bottom: 5px;
                        }
                    }

                    &.facebook {
                        .content{
                            .icon {
                                width:10px;
                                height:20px;
                                background-size:contain;
                            }
                        }
                    }
                    &.twitter {
                        .content{
                            .icon {
                                width:22px;
                                height:18px;
                                background-size:contain;
                            }
                        }
                    }

                    &.instagram{ 
                        &.without__content {
                            @include card-image-top(auto, 209px);
                            &.withImage__content {
                                .content {
                                    height: 34px;
                                }
                            }
                        }
                    }
                }

                
                &.without__image {
                    .content {
                        .icon {
                            display:block;
                            position:absolute;
                            bottom:20px;
                        }
                        >p {
                            max-height:70px;
                        }
                        .author {
                            bottom: 80px;
                        }
                    }
                }
            }


        }
    }
}


.card-sm-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-sm-base();

        a.card {
            @include card-image-top(auto, 160px);
            height:250px;

            > article {

                > figure{
                    margin-bottom:6px;
                }
                > .content{
                    h2 {
                        height: 60px;
                        margin-bottom: 0;
                    }
                }
            }

            &.withImage__content {
                .content {
                    height: 80px;
                }
            }


            &.without__image {
                background:color(offwhite);
                .content {
                    padding:63px 20px 5px 20px;

                    height:100%;

                    h2 {
                        font-size: rem(17);
                        font-weight:normal;
                        line-height: 1.29;
                        height:70px;
                    }

                    .author {
                        bottom: 40px;

                        &:after {
                            content:'';
                            position: absolute;
                            display:block;
                            width: 62px;
                            height:1px;
                            background:color(lightgrey);
                            margin-top:20px;
                        }
                    }

                }
            }  

            &.social {
                .content {
                    .icon {
                        // display:none;
                    }

                    >p {
                        height:45px;
                        margin-bottom:6px;
                    }

                    .category {
                        padding-bottom: 5px;
                    }
                }

                &.facebook {
                    .content{
                        .icon {
                            width:10px;
                            height:20px;
                            background-size:contain;
                        }
                    }
                }
                &.twitter {
                    .content{
                        .icon {
                            width:22px;
                            height:18px;
                            background-size:contain;
                        }
                    }
                }

                &.instagram{ 
                    &.without__content {
                        @include card-image-top(auto, 209px);
                        &.withImage__content {
                            .content {
                                height: 34px;
                            }
                        }
                    }
                }
                &.without__image {
                    .content {
                        .icon {
                            display:block;
                            position:absolute;
                            bottom:20px;
                        }
                        >p {
                            max-height:70px;
                        }
                        .author {
                            bottom: 80px;
                        }
                    }
                }
            }


        }
    }
}


.card-sm-mobile {
    @media screen and (max-width: $sm-break-down){
        @include card-sm-base();

        height:85px;

        a.card {
            @include card-image-left(89px, 85px);

            article {
                > .content {
                    margin-left: 100px;
                    height: 89px;
                    h2{
                        font-size: rem(16);
                        height: 60px;
                        line-height: 1.35;
                    }
                }
            }

            &.without__image {
                article {
                    > .content {
                        margin-left: 0;
                    }
                }
            }

            &.social {
                .content {
                    .icon {
                        // display:none;
                    }

                    >p {
                        height:65px;
                        margin-bottom:6px;
                    }
                }

                &.facebook {
                    .content{

                    }
                }
                &.twitter {
                    .content{
                        .icon {
                            width:22px;
                            height:18px;
                            background-size:contain;
                        }
                    }
                }

                &.instagram{ 
                    &.without__content {
                        @include card-image-top(auto, 209px);
                        .author {
                            display:block;
                        }
                    }
                }

            }

        }
    }

}


