@mixin videoIconMiddle() {
    position:absolute;
    content: '';
    width: 42px;
    height: 42px;
    background-image: url(../icons/play-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
    margin-left:-21px;
    margin-top:-21px;
    z-index: 100;
}

@mixin videoIcon() {
    position:absolute;
    content: '';
    width: 42px;
    height: 42px;
    background-image: url(../icons/play-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 20px;
    right: 23px;
    z-index: 100;
    @media #{$mobile} {
        width: 35px;
        height: 35px;
        top: 26px;
        right: 26px;
    }
}



a.card {

    display:block;
    
    &:hover {
        text-decoration:none;
    }

    >div.article_number {
        display:block;
        border-radius:50%;
        width:30px;
        height:30px;
        background:red;
        color:white;
        font-size:rem(15);
        position:absolute;
        top:0;
        right:0;
        text-align: center;
        line-height: 30px;
        z-index:100;
    }
    article {
        height:100%;
    

        > figure {
            position:relative;

            &.video {
                &:before{
                    @include videoIcon();
                }
            }


             // IE10+ HACK
             _:-ms-lang(x) {
                overflow:hidden !important;

             }
            // IE9 HACK
             :root img {
                 height:auto;
                 width:auto;
                 max-width:none;
             }  

             // IE10+ HACK
             _:-ms-lang(x), img {
                 height:auto !important;
                 width:auto !important;
                 min-width:100% !important;
                 max-width:100% !important;
                 min-height:100% !important;
                 max-height:100% !important;
             } 


            img {
                width:100%;
                height:100%;
                object-fit: cover;
            }


        }





        > .content {
            width:100%;
            // @include flexbox;
            // @include flex-direction(column);
            // justify-content: flex-start;

            >p {
                margin:0;
                padding:0;
                overflow:hidden;
            }


            .category{
                font-size: rem(10.5);
                text-transform:uppercase;
                @include colourselectdark('');
            }

            h2{
                font-family: $base-font-family;
                font-size: rem(48);
                font-weight:300;
                margin: 0;
                overflow:hidden;
                padding-bottom:1px;
            }

            .author{
                display:inline-block;
                vertical-align:top;
                line-height:1;
                
                position: absolute;
                bottom: 0px;

                img{
                    display:none;
                    height:37px;
                    width:37px;
                }
                p{
                    color:color(mediumgrey);
                    font-size: rem(11);
                    font-weight: 300;
                    margin: 0;
                    padding: 0;
                    display:inline-block;
                    padding-right: 5px;
                    border-right: 1px solid color(mediumgrey);
                    font-family: $font-family-serif;
                }
                > time{
                    display:inline-block;
                    // vertical-align:top;
                    // line-height:1;
                    color:color(mediumgrey);
                    font-size: rem(11);
                    font-weight: 300;
                    font-family: $font-family-serif;
                }
            }

            > time{
                display:none;
            }
        }
    }










    &.social {
        .content {
            .icon {
                display: none;
            }
        }
        &.facebook{
            .content{

                .icon {
                    width:13px;
                    height:27px;
                    
                    // background-size:cover;
                    background-repeat: no-repeat;
                    &.dairy {
                        background-image: url("../icons/social/blue/facebook.svg");
                    }
                    &.country {
                        background-image: url("../icons/social/green/facebook.svg");
                    }

                    &.shepparton, &.shepp {
                        background-image: url("../icons/social/red/facebook.svg");
                    }
                }
            }
        }

        &.twitter{
            .content{

                .icon {
                    width:31px;
                    height:31px;
                    
                    // background-size:cover;
                    background-repeat: no-repeat;
                    &.dairy {
                        background-image: url("../icons/social/blue/twitter.svg");
                    }

                    &.country {
                        background-image: url("../icons/social/green/twitter.svg");
                    }

                    &.shepparton, &.shepp {
                        background-image: url("../icons/social/red/twitter.svg");
                    }
                }
            }
        }

        &.instagram{
            .content{

                .icon {
                    width:27px;
                    height:27px;
                    
                    // background-size:cover;
                    background-repeat: no-repeat;
                    &.dairy {
                        background-image: url("../icons/social/blue/instagram.svg");
                    }

                    &.country {
                        background-image: url("../icons/social/green/instagram.svg");
                    }

                    &.shepparton, &.shepp {
                        background-image: url("../icons/social/red/instagram.svg");
                    }
                }
            }
        }
        &.withImage__content {
            &.facebook{
                .content{
                    .icon {
                        background-image: url("../icons/social/white/facebook.svg");
                    }
                }
            }
            &.twitter{
                .content{
                    .icon {
                        background-image: url("../icons/social/white/twitter.svg");
                    }
                }
            }
            &.instagram{
                .content{
                    .icon {
                        background-image: url("../icons/social/white/instagram.svg");
                    }
                }
            }

        }


    }
}

/*! Overlay Button */
.btn_overlay {
    top:0;
    left:0;
    width:auto;
    z-index:99999;
    width:28px;
    position:absolute;
    visibility:hidden;
    @include opacity(0);
    @include transition((opacity(0), 2s ease-out));
    background:transparent none repeat scroll 0 0;

    .btnhide {
        float:left;
        width:28px;
        color:#ededed;
        border:0 none;
        margin:0px 0px;
        min-height:28px;
        max-height:28px;
        line-height:28px;
        position:relative;
        @include border-radius(0px);
        // font-size:($baseFontSize * 1);
        border:1px solid rgba(black, 0.9);
        @include transition(all 0.5s ease 0s);
        background:none repeat scroll 0 0 rgba(black, 0.9);

        &:not(:first-child) {
            border-top:0px none!important;
        }

        &:hover, &:active {
            border:1px solid rgba(black, 0.1);
            background:none repeat scroll 0 0 rgba($blue, 0.9);
        }

        .fa {
            // font-size:($baseFontSize * 1) + 2;
        }

        .fa-thumb-tack {
            @include transform(rotate(-33deg));

            &::after {
                left:5%;
                right:5%;
                z-index:0;
                height:6%;
                bottom:-5%;
                content:"";
                position:absolute;
                @include border-radius(70%);
                @include transform(scaleY(0.1));
                @include box-shadow((0 0 6px 6px rgba(0,0,0,0.1), 0 0 15px 10px rgba(0,0,0,0.1), inset 0 0 10px 20px rgba(0,0,0,0.25)));
            }
        }
    }
}

/*! Overlay Button Tooltips */
.social-tooltip {
    z-index:98;
    color:$white;
    display:inline;
    position:relative;
    // font-size:($baseFontSize * 1) - 2;
    &.selected {
        background:none repeat scroll 0 0 rgba($blue ,0.95);
        border-color:rgba($blue ,0.95);
    }
    &:hover {
        color:$white;
        text-decoration:none;

        &:after {
            top:3px;
            left:40px;
            color:$white;
            display:block;
            line-height:1.3;
            font-weight:400;
            padding:5px 8px;
            position:absolute;
            white-space:nowrap;
            content:attr(title);
            @include border-radius(3px);
            // font-size:($baseFontSize * 1) - 2;
            -webkit-box-shadow:0 0 2px rgba($black ,0.2);
            @include box-shadow(0 0 2px rgba($black ,0.2));
            background:none repeat scroll 0 0 rgba($blue ,0.95);
        }

        &:before {
            top:11px;
            left:35px;
            z-index:1;
            border:solid;
            border-color:transparent rgba($blue ,0.95);
            border-width:5px 5px 5px 0;
            content:" ";
            display:block;
            position:absolute;
        }
    }
}

.card {
    &:hover, &:focus, &:active {
        .btn_overlay {
            visibility:visible;
            @include opacity(1);
            @include transition((opacity(1), 2s ease-out));
        }
    }
}

.col-two-thirds, .col-full {
    .btn_overlay {
        left:auto;
        right:20px;
    }

    .social-tooltip {

        &:hover {

            &:after {
                left:auto;
                right:40px;
            }

            &:before {
                left:auto;
                right:35px;
                border-width:5px 0 5px 5px;
            }
        }
    }
}