@mixin card-12-base() {
    position:relative;
    a.card {
        @include card-image-top(auto, 160px);
        margin-bottom: 40px;
        > article {
            position:relative;
            > figure {
                margin-bottom: 6px;
            }

            > .content {
                position:relative;
                padding: 0 0 20px 0;
                
                

                > .category{
                }
                > h2{
                    font-weight: bold;
                    font-size: rem(20);
                    line-height:1.29;
                    margin-top:5px;
                    margin-bottom:10px;
                    
                }
                > p.excerpt {
                    display:block;
                    font-size: rem(14);
                    font-weight: 300;
                    line-height: 1.33;
                    
                }
                .author {
                    display: block;
                    height: 18px;
                    width: 100%;
                }
                
                > time {
                }
            }
        }
        &.without__image {
            background:color(offwhite);
            .content {
                padding:43px 20px 5px 20px;

                height:100%;

                h2 {
                    font-size: rem(26);
                    font-weight:bold;
                    line-height: 1.29;
                    height:70px;
                }
                > p.excerpt {
                    display:block;
                    font-size: rem(14);
                    font-weight: 300;
                    line-height: 1.33;
                    max-height: 60px;
                }

                .author {
                    display:block;
                    height: 18px;
                    width: 100%;
                    bottom: 30px;
                    &:after {
                        content:'';
                        position: absolute;
                        display:block;
                        width: 62px;
                        height:1px;
                        background:color(lightgrey);
                        margin-top:10px;
                    }
                }

            }
        }
        &:after{
            content: '';
            width: 42px;
            height: 42px;
            z-index: 10;
            position: absolute;
            top: 15px;
            right: 15px;
            background-image: url(../icons/podcast-icon.svg);
            background-repeat: no-repeat;
            background-size: 42px;
            border-radius: 24px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        }
    }
}



.card-12{
    &-desktop{
        @media screen and (min-width: $mmd-break){
            @include card-12-base();
            
            a.card {
                @include card-image-left(706px,400px);
                height:400px;
                > article {
                    > .content {
                        height: 100%;
                        padding: 60px 0 0 40px;
                        width: calc(100% - 706px);
                        float: right;
                        >h2{
                            font-size: rem(26);
                            line-height: 1.15;
  
                        }
                        > p.excerpt {
                            display:block;
                            max-height: 75px;
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 1.57;
                            letter-spacing: normal;
                            color: #6d7278;

                        }
                        .author {
                            display: block;
                            height: 18px;
                            width: 100%;
                        }
                    }
                }     
                  
                &:after{
                    box-shadow: none;
                    right: unset;
                    left: 746px;
                    top: 0;
                }
            }
        }
    }
    &-tablet{
        @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
            @include card-12-base();
    
            a.card {
                @include card-image-left(464px,400px);
                height:400px;
                > article {
                    > .content {
                        height: 100%;
                        padding: 60px 0 0 30px;
                        width: calc(100% - 464px);
                        float: right;
                        >h2{
                            font-size: rem(26);
                            line-height: 1.15;
  
                        }
                        > p.excerpt {
                            display:block;
                            max-height: 75px;
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 1.57;
                            letter-spacing: normal;
                            color: #6d7278;

                        }
                        .author {
                            display: block;
                            height: 18px;
                            width: 100%;
                        }
                    }
                }     
                  
                &:after{
                    box-shadow: none;
                    right: unset;
                    left: 494px;
                    top: 0;
                }
            }
        }
    }
    &-mobile{
        @media screen and (max-width: $sm-break-down){
            @include card-12-base();
    
           
        }
    }
}






