.top-stories {
    @include card-image-none;

    a.card {
        height:100%;

        article {
       

            > .content {
                width:100%;


                h2{
                    font-size: rem(15);
                    font-weight:normal;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    overflow:hidden;
                    max-height:34px;
                }


                >p {
                    display:none;
                }


                .author{
                    img{
                        display:none;
                    }
                    p{
                        // padding-top: 5px;
                        // font-size: rem(11);
                        // font-weight: 300;
                    }
                }

                time{
                    // font-size: rem(11);
                    // font-weight: 300;
                }
            }
        }
    }
}