.card-sm-wide{
    @media screen and (min-width: $sm-break){

        position:relative;


        a.card {
            @include card-image-top(auto, 160px);
            height:250px;
            > article {
                position:relative;

                > figure{
                    overflow: hidden;
                    margin-bottom:6px;

                    &.video {
                        &:before{
                           @include videoIcon();
                        }
                    }
                }


                > .content{
                
                    position:relative;
                    padding: 0;

                    > .category{
                    }

                    > h2{
                        font-weight: 600;
                        font-size: rem(17);
                        line-height:1.29;
                        margin-top:5px;
                        max-height:22px;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        height:17px;
                        line-height: 1;
                        margin-top: 2px;

                    }

                    > .author{
                        margin-top:13px;

                        >p {
                            margin: 0;
                            padding: 0;
                            padding-right:5px;
                        }
                    }


                }
            }


            &.without__image {
                background:color(offwhite);
                .content {
                    padding:63px 20px 5px 20px;

                    height:100%;

                    h2 {
                        font-size: rem(17);
                        font-weight:normal;
                        line-height: 1.29;
                        max-height:70px;
                    }

                    .author {
                        &:after {
                            content:'';
                            position: absolute;
                            display:block;
                            width: 62px;
                            height:1px;
                            background:color(lightgrey);
                            margin-top:20px;
                        }
                    }

                }
            }  

            &.social {
                .content {
                    .icon {
                        display:none;
                    }

                    >p {
                        max-height:65px;
                        margin-bottom:6px;
                    }
                }

                &.facebook {
                    .content{
                        .icon {
                            width:10px;
                            height:20px;
                            background-size:contain;
                        }
                    }
                    // &.without__image {
                    //     .content {
                    //         >p {
                    //             max-height: 60px;
                    //         }
                    //     }
                    // }
                }
                &.twitter {
                    .content{
                        .icon {
                            width:22px;
                            height:18px;
                            background-size:contain;
                        }
                    }
                }

                &.instagram{ 
                    &.without__content {
                        @include card-image-top(auto, 209px);
                    }
                }
                &.without__image {
                    .content {
                        .icon {
                            display:block;
                            position:absolute;
                            bottom:20px;
                        }
                        >p {
                            max-height:70px;
                        }
                    }
                }
            }
        }
    }
}

.card-sm-wide-mobile{

    @media screen and (max-width: $sm-break-down){
        margin-bottom:20px;
        position:relative;


        a.card {
            @include card-image-top(auto, 160px);
            height:250px;
            > article {
                position:relative;

                > figure{
                    overflow: hidden;
                    margin-bottom:6px;

                    &.video {
                        &:before{
                           @include videoIcon();
                        }
                    }
                }


                > .content{
                
                    position:relative;
                    padding: 0;

                    > .category{
                    }

                    > h2{
                        font-weight: 600;
                        font-size: rem(17);
                        line-height:1.29;
                        margin-top:5px;
                        max-height:44px;
                    }

                    > p.excerpt {
                        display:none;

                    }

                    > .author{
                        display:none;
                        // margin-top:13px;

                        // >p {
                        //     margin: 0;
                        //     padding: 0;
                        //     padding-right:5px;
                        // }
                    }


                }
            }


            &.without__image {
                background:color(offwhite);
                .content {
                    padding:63px 20px 5px 20px;

                    height:100%;

                    h2 {
                        font-size: rem(17);
                        font-weight:700;
                        line-height: 1.29;
                        max-height:45px;
                    }

                    >p.excerpt {
                        display:block;
                        font-size: rem(15);
                        max-height:60px;
                        line-height: 1.33;
                        margin-top: 7px;
                    }

                    .author {
                        font-family:$font-family-serif;
                        display:block;
                        margin-top:10px;
                        &:after {
                            content:'';
                            position: absolute;
                            display:block;
                            width: 62px;
                            height:1px;
                            background:color(lightgrey);
                            margin-top:20px;
                        }
                    }

                }
            }  

            &.social {
                .content {
                    .icon {
                        display:none;
                    }

                    >p {
                        max-height:65px;
                        margin-bottom:6px;
                    }
                }

                &.facebook {
                    .content{
                        .icon {
                            width:10px;
                            height:20px;
                            background-size:contain;
                        }
                    }
                    // &.without__image {
                    //     .content {
                    //         >p {
                    //             max-height: 60px;
                    //         }
                    //     }
                    // }
                }
                &.twitter {
                    .content{
                        .icon {
                            width:22px;
                            height:18px;
                            background-size:contain;
                        }
                    }
                }

                &.instagram{ 
                    &.without__content {
                        @include card-image-top(auto, 209px);
                        .author {
                            display:block;
                        }
                    }
                }
                &.without__image {

                    .content {
                        padding-top:31px;
                        .category {
                            margin-bottom:10px;
                        }
                        >p {
                            max-height:90px;
                        }
                        .icon {
                            display:block;
                            position:absolute;
                            bottom:20px;
                        }
                    }
                }
            }
        }
    }
}


.card-sm2-mobile{
    @media screen and (max-width: $sm-break-down){

        position:relative;


        a.card {
            @include card-image-left(89px, 85px);
            // padding-top:15px;
            // border-top: 1px solid color(lightgrey);
            height: 90px;

            > article {
                position:relative;

                > figure{
                    overflow: hidden;
                    margin-right:8px;

                    &.video {
                        &:before{
                           @include videoIcon();
                        }
                    }
                }


                > .content{
                    height:100%;
                    position:relative;
                    padding: 0;

                    > .category{
                    }

                    > h2{
                        font-weight: 700;
                        font-size: rem(17);
                        line-height:1.29;
                        margin-top:5px;
                        margin-bottom:10px;
                        max-height:45px;
                    }

                    > p.excerpt {
                        display:none;
                    }


                    > .author{

                        >p {
                        }
                    }


                }
            }


            &.without__image {
                .content {
                    padding-top:87px;
                    height:100%;

                    h2 {
                        font-size: rem(17);
                        font-weight:bold;
                        max-height:52px;
                    }

                    > p {
                        font-size: rem(13);
                        display: block;
                        max-height:100px;
                        margin-bottom: 18px;
                    }
                }
            } 

            &.social {
                .content {
                    .icon {
                        display:none;
                    }
                    >p {
                        max-height:65px;
                        margin-bottom:6px;
                    }

                }
                &.instagram{ 
                    &.without__content {
                        .content {
                            padding-top:25px;
                        }
                    }
                }

            }
  
        }
    }
}
