.home-feature {
    @include card-image-full;
    height:400px;
    a.card {
        height:100%;
        color:$white;

        article {
        
            > figure {
                right:15px;
                width:auto;
            }

            > .content {
                width:100%;
                padding: 220px 20px 10px 30px;


                .category{
                     
                }


                h2{
                    font-size: rem(48);
                    font-weight:300;
                    margin-top: 0;
                    overflow:hidden;
                }


                >p {
                    display:none;
                }


                .author{
                    img{
                        display:none;
                    }
                    p{
                        padding-top: 5px;
                    }
                }

                time{
                }
            }
        }
    }
}