@mixin card-home-feature-base() {

    a.card {
        @include card-image-full;
        position:relative;

        height:100%;
        color:$white;

        > article {
            > figure {
                @include gradientafter;
            }
            > .content{
                width:100%;

                > .category{
                    color:white;
                    // &:before {
                    //     content: '';
                    //     display: block;
                    //     height: 20px;
                    //     width: 80px;
                    //     background: url(../images/white-arrow.svg);
                    //     background-repeat: no-repeat;
                    //     margin-bottom: 5px;
                    // }
                }
                > h2{
                    font-weight:600;
                    margin-top: 0;
                    overflow:hidden;
                    margin-bottom:6px;
                    max-height: 85px;
                    max-width:353px;
                    line-height: 1.18;

                }
                > p.excerpt {
                    display:none;
                }

                .author{
                    p{
                        font-family:$font-family-serif;
                        color:white;
                        border-right: 1px solid color(white);
                    }
                    >time {
                        color:white;
                    }
                }
                
                > time{
                }
            }
        }
        &.without__image {
        
            background:color(offwhite);

            article {
                > .content {
                    color:red;

                    .category{
                        color:color(darkgrey);
                        // &:before {
                        //     background: url(../images/black-arrow.svg);
                        //     background-repeat:no-repeat;
                        // }
                    }
                    .author {
                        >p {
                            color:color(darkgray);
                            border-right:1px solid color(darkgray);
                        }
                        time {
                            color:color(darkgray);
                        }

                    }

                }
            }
        }   
        &.social {
            .content {
                padding-top:31px;
                .icon {
                    margin-bottom:200px;
                }

                > p {
                    font-size: rem(34);
                    font-weight:600;
                    margin-top: 0;
                    margin-bottom:6px;
                    overflow:hidden;
                    max-height: 80px;
                    line-height: 1.18;

                }
            }
            &.twitter{
                .content{
                    >p {
                        max-height:130px;
                        font-size:rem(22);
                        line-height:1.27;
                    }

                }
                &.without__image {
                    .content {
                        > p {
                            color:black;
                        }
                    }
                }
            }

            &.instagram{
                .content{
                    >p {
                        min-height:20px;
                        max-height:130px;
                        font-size:rem(22);
                        line-height:1.27;
                    }
                }
            }
        }

    }
}


.home-feature {
    @media screen and (min-width: $mmd-break){
        @include card-home-feature-base();

        height:400px;
        a.card {
            article {
                > .content {
                    padding: 260px 20px 10px 30px;

                    h2{
                        font-size: rem(34);
                    }
                }
            }
        }
    }
}


.home-feature-tablet {
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-home-feature-base();

        height:295px;
        a.card {
            article {
            
                > .content {
                    width:100%;
                    padding: 140px 20px 10px 30px;

                    .category{
                        font-size:rem(10);
                    }

                    h2{
                        font-size: rem(24);
                    }
                }
            }
        }
    }
}






.home-feature-mobile {
    @media screen and (max-width: $sm-break-down){
        @include card-home-feature-base();

        margin-bottom:20px;
        // height:210px;
        height:60vw;

        a.card {
            article {
        
                > .content {
                    padding: 0 20px 15px 10px;
                    position:absolute;
                    bottom:0;

                    .category{
                        margin-bottom:5px;
                    }

                    h2{
                        font-size: rem(26);
                        margin-bottom: 5px;
                        max-height: 60px;
                        line-height: 1.15;
                    }
                }
            }

            &.social {
                .content {

                    padding: 16px 20px 5px 10px;

                    .icon {
                        margin-bottom:45px;
                    }

                    > p {
                        font-size: rem(26);
                        margin-top: 5px;
                        min-height:20px;
                        max-height: 60px;
                        line-height: 1.15;
                    }
                }

                &.twitter, &.instagram{
                    .content{
                        >p {
                            max-height:45px;
                            font-size:rem(18);
                            line-height:1.22;
                            margin-bottom:10px;
                        }

                    }
                }

                &.instagram{
                    &.without__content {
                        .content {
                            .icon {
                                margin-bottom: 90px;
                            }
                            >p {
                                margin:0;
                            }
                        }
                    }
                }
                &.youtube{
                    .content{
                        .icon {
                            margin-bottom:90px;
                        }
                    }
                }
            }
        }
    }
}
