@mixin card-feature-side-base() {
    // clear:both;
    font-family: $base-font-family;

    position: relative;
    a.card {
        height:100%;

        > article {
            > figure{
                margin-right:15px;
                &.video {
                    &:before{
                        @include videoIconMiddle();
                    }
                }

            }
            > .content{
                width:100%;
                height:100%;
                position:relative;

                > .category{
                    color: color(red);
                    font-size: rem(10);
                }
                > h2{
                    font-size: rem(16);
                    font-weight:700;
                    margin-top: 4px;
                    overflow:hidden;
                    line-height:1.15;

                }
                >p.excerpt {
                    
                }
                .author{
                    position:absolute;
                    bottom:0;
                    height: 18px;
                }
               
            }
        }
        &.without__image {
            .content {
                h2 {
                    height:20px;
                }
                p.excerpt {
                    display:block;
                    margin-top:2px;
                    height:35px;
                    font-size:rem(12);
                }
            }
        }
        &.social {
            .content {
                .icon {
                    // display:none;
                }

                >p {
                    height:65px;
                    margin-bottom:6px;
                }
            }

            &.facebook, &.twitter, &.instagram, &.youtube{
                .content{
                    >p {
                        font-size: rem(12);
                        margin-top:10px;
                        height:50px;
                        font-weight:600;
                        line-height:1.33;
                    }
                }
            }
            &.instagram{ 

                &.without__content {
                    .content{
                        padding-top:34px;
                        >p {
                            margin-top:0;
                        }
                        >.author{
                            position:static;
                        }
                    }
                }
            }
        }
    }

    &.dairy-card {
        a.card {
            > article {
                > figure {
                    z-index: 99;
                }
                > .content {
                    background-color: #7bc127;
                    padding: 10px;
                    margin-left: 85px;

                    > .category {
                        display: none;
                    }

                    h2 {
                        font-size: rem(22);
                        text-transform: uppercase;
                        font-weight: bold;
                        color: white;
                        height: 26px;
                        margin-bottom: 0px;
                    }

                    > p {
                        display: block;
                        font-size: rem(14);
                        text-transform: uppercase;
                        color: white;
                        height: 24px;
                        padding-top: 5px;
                    }

                    > .author {
                        display: none;
                    }
                }
            }
        }
    }
}




.feature-side {
    @media screen and (min-width: $mmd-break){
        @include card-feature-side-base();

        height:95px;




        a.card {
            @include card-image-left(80px, 95px);


            article {            
                > .content {
                    padding-left: 80px;
                    h2{
                        max-height: 40px;
                        margin-right: 20px;
                    }
                    >p.excerpt {
                        height: 18px;
                        font-size: 13px;
                    }
                }
            }

            &.without__image {
                .content {
                    padding-left: 0px;
                    h2 {
                        margin-right: 0px;
                    }
                }
            }            
        }
    }
}


.feature-side-tablet {
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-feature-side-base();

        height:95px;

        a.card {
            @include card-image-left(80px);

            article {
                > .content {
                    h2{
                        font-size: rem(16);
                        height: 40px;
                        line-height: 1.2;
                        max-width: 238px;
                    }
                    p.excerpt {
                        height: 18px;
                        font-size: 13px;
                    }
                }
            }
            &.without__image {
                .content {
                    h2 {
                        height: 40px;
                        top: 20px;
                        position: absolute;
                        max-width: 360px;
                    }
                    p.excerpt {
                        display: none;
                    }
                    .category {
                        // top: 5px;
                        // position: absolute;
                    }
                    .author {
                        // bottom: 15px;
                    }
                }
            }
        }
    }
}




