.card-sm{
    @media screen and (min-width: $sm-break){

        position:relative;


        a.card {
            // @media screen and (min-width: $mmd-break){
                @include card-image-top(auto, 160px);
            // }
            // @include card-image-top(auto, 116px);


            height:250px;
            > article {

                position:relative;

                > figure{
                    overflow: hidden;
                    margin-bottom:6px;

                    &.video {
                        &:before{
                           @include videoIcon();
                        }
                    }
                }


                > .content{
                    height:100%;
                    position:relative;
                    padding: 0;

                    > .category{
                    }

                    > h2{
                        font-weight: normal;
                        font-size: rem(17);
                        line-height:1.29;
                        margin-top:5px;
                        margin-bottom:10px;
                        max-height:45px;
                    }

                    > p.excerpt {
                        display:none;
                    }

                }
            }


            &.without__image {
                background:color(offwhite);
                .content {
                    padding:63px 20px 5px 20px;

                    height:100%;

                    h2 {
                        font-size: rem(17);
                        font-weight:normal;
                        line-height: 1.29;
                        max-height:70px;
                    }

                    .author {
                        &:after {
                            content:'';
                            position: absolute;
                            display:block;
                            width: 62px;
                            height:1px;
                            background:color(lightgrey);
                            margin-top:20px;
                        }
                    }

                }
            }  

            &.social {
                .content {
                    .icon {
                        display:none;
                    }

                    >p {
                        max-height:65px;
                        margin-bottom:6px;
                    }
                }

                &.facebook {
                    .content{
                        .icon {
                            width:10px;
                            height:20px;
                            background-size:contain;
                        }
                    }
                }
                &.twitter {
                    .content{
                        .icon {
                            width:22px;
                            height:18px;
                            background-size:contain;
                        }
                    }
                }

                &.instagram{ 
                    &.without__content {
                        @include card-image-top(auto, 209px);
                    }
                }
                &.without__image {
                    .content {
                        .icon {
                            display:block;
                            position:absolute;
                            bottom:20px;
                        }
                        >p {
                            max-height:70px;
                        }
                    }
                }
            }


        }
    }
}


.card-sm-mobile{
    @media screen and (max-width: $sm-break-down){

        position:relative;


        a.card {
            @include card-image-left(89px, 85px);
            // padding-top:15px;
            // border-top: 1px solid color(lightgrey);
            height: 90px;
            > article {
                position:relative;
                // @include flexbox;
                // @include flex-direction(row);
                // align-items:stretch;


                > figure{
                    // flex: 1;

                    overflow: hidden;
                    margin-right:8px;
                    // width:20%;
                    // height:100%;

                    &.video {
                        &:before{
                           @include videoIcon();
                        }
                    }
                }


                > .content{
                    // flex:4;
                    position:relative;
                    padding: 0;

                    > .category{
                    }

                    > h2{
                        font-weight: normal;
                        font-size: rem(17);
                        // font-size: calc(12px + 1.5vw);

                        line-height:1.29;
                        margin-top:5px;
                        margin-bottom:10px;
                        max-height:45px;
                    }

                    > p.excerpt {
                        display:none;
                    }


                    > .author{

                        >p {
                        }
                    }


                }
            }


            &.without__image {
            }  

            &.social {
                .content {
                    .icon {
                        display:none;
                    }
                    >p {
                        max-height:44px;
                    }
                }
                &.instagram{ 
                    &.without__content {
                        .content {
                            padding-top:25px;
                        }
                    }
                }
            }
        }
    }
}


