@mixin card-opinion-base() {
    // clear:both;
    font-family: $base-font-family;

    a.card {
        height:100%;

        > article {

            > .content{
                width:100%;
                height:100%;
                position:relative;

                > .category{
                    display:none;
                }

                > h2{
                    display: none;
                }
                >p.excerpt {
                    color:black;
                    font-size: rem(18);
                    font-weight:700;
                    font-family:$font-family-serif;
                    font-style:italic; 
                    margin-top: 4px;
                    overflow:hidden;
                    line-height:1.22;
                    position: absolute;
                    top: 60px;
                    height:96px;
                }

                >div.author {
                    position: absolute;
                    bottom: 36px;
                    font-family:$font-family-serif;
                    p {
                        font-size:rem(14);
                        border-right: none;
                        color: color(red);
                    }
                    time {
                        display: none;
                    }
                }

                >time {
                    font-family:$font-family-serif;
                    position: absolute;
                    top: 36px;
                    display: inline-block;
                    color: rgba(74,74,74,.7);
                    font-size: rem(11);
                    font-weight: 300;                    
                }
            }
        }

        &.without__image {
            .content {
                h2 {
                    height:88px;
                }
            }
        }
    }

    &.final {
        a.card {
            background-repeat:no-repeat;
            padding:0px 42px;

            > article {
                > .content {
                    > p.excerpt {
                        height:72px;
                    }

                    >div.author {
                        position: absolute;
                        bottom: 72px;
                        p {
                            font-size: rem(16);
                            color: white;
                        }
                    }

                    >time {
                        color: white;
                    }                    
                }
            }
        }
    }    
}




.card-opinion {
    @media screen and (min-width: $mmd-break){
        @include card-opinion-base();
        height: 240px;
    }
}


.card-opinion-tablet {
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-opinion-base();
        height: 200px;

        a.card {
            article {
                > .content {
                    time {
                        top: 15px;
                    }

                    p.excerpt {
                        top: 40px;
                    }

                    div.author {
                        bottom: 65px;
                    }
                }
            }
        }
    }
}

.card-opinion-mobile {
    @media screen and (max-width: $sm-break-down){
        @include card-opinion-base();

        height:95px;

        &.final {
            height: 230px;
        }

        &:not(.final) {
            a.card {
                article {
                    > .content {
                        p.excerpt{
                            font-size: rem(15);
                            height: 60px;
                        }

                        time {
                            top: 0px;
                        }
                        p.excerpt {
                            top: 15px;
                        }
                        div.author {
                            bottom: 0px; 
                        }
                    }
                }
            }
        } 
    }
}


