.card-rec-full{
    @include card-image-full;
    height:144px;
    
    a.card {
        height:100%;
        color:$white;

        article {
            position:relative;

            > figure {
                @include tintbefore();
                // right:15px;
                // left:15px;
                width:auto;
                // height:10px;
            }

            > .content {
                width:100%;
                z-index:10;
                padding: 25px;

                .category{
                    color:white;
                }


                h2{
                    font-family:$font-family-serif;
                    font-size: rem(22);
                    font-weight:600;
                    margin-top: 7px;
                    overflow:hidden;
                    max-height: 52px;
                    line-height: 1.18;
                    margin-bottom:8px;
                }


                >p {
                    display:none;
                }


                .author{
                    border-right: 1px solid color(white);

                    img{
                        display:none;
                    }
                    p{
                        color:white;
                    }
                }

                time{
                    font-family:$font-family-serif;
                    color:white;
                }
            }

        }

        &.article.without__image {
            .content {
                padding-top:87px;
                height:100%;

                h2 {
                    font-size: rem(17);
                    font-weight:bold;
                    max-height:52px;
                }

                > p {
                    font-size: rem(13);
                    display: block;
                    max-height:100px;
                    margin-bottom: 18px;
                }
            }
        }   
    }
}