.card-blogger{
    @media screen and (min-width: $mmd-break){

        position:relative;


        a.card {
            @include card-image-top(auto, 160px);

            > article {
                position:relative;

                > figure{
                    overflow: hidden;
                    margin-bottom:6px;

                    &.video {
                        &:before{
                           @include videoIcon();
                        }
                    }
                }


                > .content{

                    position:relative;
                    padding: 0;

                    > .category{
                    }

                    > h2{
                        font-weight: 600;
                        font-size: rem(20);
                        line-height:1.3;
                        margin-top:12px;
                        margin-bottom:10px;
                        height:80px;
                        max-height:80px;
                    }

                    > p {
                        display:none;
                    }


                    > .author{
                        display:block;
                        margin-top:50px;

                        >p {
                            font-size: rem(14);
                            font-weight:600;
                            margin-bottom:5px;
                            color:color(red);
                            display:block;
                            border: none;
                        }
                        >img {
                            margin-right:14px;
                            float:left;
                            display:inline-block;
                        }
                        > time {
                            display:block;
                        }

                    }


                }
            }


            // &.article.without__image {
            //     .content {
            //         padding-top:87px;
            //         height:100%;

            //         h2 {
            //             font-size: rem(17);
            //             font-weight:bold;
            //             max-height:52px;
            //         }

            //         > p {
            //             font-size: rem(13);
            //             display: block;
            //             max-height:100px;
            //             margin-bottom: 18px;
            //         }
            //     }
            // }   
        }
    }
}


.card-blogger-mobile{
    @media screen and (max-width: $mmd-break){

        position:relative;


        a.card {
            @include card-image-top(auto, 160px);

            > article {
                position:relative;

                > figure{
                    overflow: hidden;
                    margin-bottom:6px;

                    &.video {
                        &:before{
                           @include videoIcon();
                        }
                    }
                }


                > .content{

                    position:relative;
                    padding: 0;

                    > .category{
                    }

                    > h2{
                        font-weight: 600;
                        font-size: rem(16);
                        line-height:1.25;
                        margin-top:12px;
                        margin-bottom:10px;
                        max-height:65px;
                    }

                    > p {
                        display:none;
                    }


                    > .author{
                        display:block;
                        border: none;
                        margin-top:17px;

                        >p {
                            font-size: rem(14);
                            font-weight:600;
                            margin-bottom:5px;
                            color:color(red);
                            display:block;
                            border: none;

                        }
                        >img {
                            margin-right:14px;
                            float:left;
                            display:inline-block;
                        }
                        > time {
                            display:block;
                        }

                    }
                }
            }


            // &.article.without__image {
            //     .content {
            //         padding-top:87px;
            //         height:100%;

            //         h2 {
            //             font-size: rem(17);
            //             font-weight:bold;
            //             max-height:52px;
            //         }

            //         > p {
            //             font-size: rem(13);
            //             display: block;
            //             max-height:100px;
            //             margin-bottom: 18px;
            //         }
            //     }
            // }   
        }
    }
}
