.home-feature {
    @media screen and (min-width: $mmd-break){

        height:400px;
        a.card {
            @include card-image-full;

            height:100%;
            color:$white;

            article {
            
                > figure {
                    @include gradientafter;
                    right:15px;
                    left:15px;
                    width:auto;
                    // height:10px;
                }

                > .content {
                    width:100%;
                    padding: 220px 20px 10px 30px;


                    .category{
                        color:white;
                    }


                    h2{
                        font-size: rem(34);
                        font-weight:600;
                        margin-top: 0;
                        margin-bottom:6px;
                        overflow:hidden;
                        max-height: 80px;
                        line-height: 1.18;
                    }


                    >p {
                        display:none;
                    }


                    .author{
                        border-right: 1px solid color(white);
                        p{
                            font-family:$font-family-serif;
                            color:white;
                        }
                    }

                    time{
                        display: inline-block;
                        vertical-align: top;
                        line-height: 1;
                        // color: rgba(74, 74, 74, 0.7);
                        // font-size: 0.6875rem;
                        // font-weight: 300;
                        font-family:$font-family-serif;
                        color:white;
                    }
                }
            }
        }
    }
}


.home-feature-mobile {
    @media screen and (max-width: $mmd-break){

        margin-bottom:20px;
        height:210px;

        a.card {
            @include card-image-full;

            height:100%;
            color:$white;

            article {
            
                > figure {
                    @include gradientafter;

                    right:15px;
                    left:15px;
                    width:auto;
                    // height:10px;
                }

                > .content {
                    width:100%;
                    padding: 100px 20px 5px 10px;


                    .category{
                        color:white;
                    }


                    h2{
                        font-size: rem(26);
                        font-weight:600;
                        margin-top: 0;
                        margin-bottom: 6px;
                        overflow:hidden;
                        max-height: 60px;
                        line-height: 1.15;
                    }


                    >p {
                        display:none;
                    }


                    .author{
                        border-right: 1px solid color(white);
                        p{
                            font-family:$font-family-serif;
                            color:white;
                        }
                    }

                    time{
                        font-family:$font-family-serif;
                        color:white;
                    }
                }
            }
        }
    }
}
