@mixin card-home-feature-sm-base() {
    a.card {
        > article {
            > figure{
            }
            > .content{
                > .category{
                }
                > h2{
                }
                > p.excerpt {
                }
                .author {
                    img {
                    }
                    p {
                    }
                    > time {
                    }
                }
                
                > time{
                }
            }
        }
    }
}




.home-feature-sm {
    @media screen and (min-width: $sm-break){
        // @include card-home-feature-sm-base;

        height:400px;
        a.card {
            @include card-image-full;
            position:relative;

            height:100%;
            color:$white;

            article {
            
                > figure {
                    @include gradientafter;
                }

                > .content {
                    width:100%;
                    padding: 270px 20px 10px 30px;


                    .category{
                        color:white;
                    }


                    h2{
                        font-size: rem(22);
                        width:50%;
                        font-weight:600;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        overflow:hidden;
                        max-height: 55px;
                        max-width: 261px;
                        line-height: 1.18;
                    }


                    >p.excerpt {
                        display:none;
                    }


                    .author{
                        p {
                            color:white;
                            border-right: 1px solid color(white);

                        }
                        > time{
                            color:white;
                        }
                    }
                }
            }
            &.without__image {
            
                background:color(offwhite);

                .content {
                    color:red;

                    .category{
                        color:color(darkgrey);
                        // &:before {
                        //     background: url(../images/black-arrow.svg);
                        //     background-repeat:no-repeat;
                        // }
                    }
                    .author {
                        >p {
                            color:color(darkgray);
                            border-right:1px solid color(darkgray);
                        }
                        time {
                            color:color(darkgray);
                        }

                    }

                }
            }   


            &.social {
                .content {
                    padding-top:31px;
                    .icon {
                        margin-bottom:170px;
                    }
                    > p {
                        font-size: rem(22);
                        width:50%;
                        font-weight:600;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        overflow:hidden;
                        max-height: 80px;
                        line-height: 1.18;

                    }
                }

                &.twitter, &.instagram{
                    .content{
                        padding-top: 31;

                        >p {
                            max-height:100px;
                            font-size:rem(18);
                            line-height:1.33;
                        }

                    }
                    &.without__image {
                        .content {
                            > p {
                                color:black;
                            }
                        }
                    }
                }

                &.instagram{
                    &.without__content {
                        .content{
                            .icon {
                                margin-bottom:250px;
                            }
                        }
                    }
                }
            }
        }
    }
}