.article-social {
    float:right;
}

.article-social\@sm {
    margin-top:26px;
    margin-bottom:21px;
    @media #{$mobile} {
    	margin: 0;
    }
    @media #{$up-to-desktop} {
        float:none;
	}
}

.article-social__icons {
	position:relative;
	top:5px;
}



