/* reset from content builder */
.row > * {
    min-height: 0;
}
html {
    font-size:100%;
}

h1, h2 {
    margin:0;
    font-weight:300;
}
p {
    margin:0;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
    color: color(dark);
    // background: #fff;
    font-family: $font-family-sans-serif;

    @media screen and (max-width: $sm-break){
        overflow-x: hidden;
    }
}
fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
    }
}

div[class*="col-sm"] {
    @media screen and (min-width: 500px) and (max-width: $sm-break-down) {
        &.split {
            width:50%;
            float:left;
        }
        &.clearfixed {
            clear:both;
        }
    }
}

div[class*="col-sm"] {
    &.large-split {
        width:50%;
        float:left;
    }
    &.clearfixed {
        clear:both;
    }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
  animation: spinner .6s linear infinite;
}

.border__left{
    border-left: 1px solid rgba(74, 74, 74, 0.3);
    padding-left: 50px;
    margin-left: -50px;
}

.addSpaceMobile {
    @media screen and (max-width: $sm-break-down){
        margin:40px 0;
    }
}

.section-page__main {
     @media screen and (max-width: $sm-break-down){
        margin-top: 40px !important;
    }
}

.carousel-tray {
    clear:both;
    margin:20px 0;
    overflow:auto;
}
.carousel-tray__item {
    float:left;
    margin-right:15px;
    height:150px;
    width:150px;
    background-size:cover;
}
.carousel-tray__delete {
    display:block;
    width:20px;
    height:20px;
    background-image: url('../icons/cross-reverse.svg');
    background-repeat: no-repeat;
    // background-size:contain;
    background-color: rgba(255,255,255,.5);
    margin-top: 5px;
    margin-left: 5px;
    background-position: center;
    &:hover {
        cursor:pointer;
    }
}



div.space40 {
    margin-top:40px;

    @media screen and (max-width: $sm-break-down){
        margin-top:20px;
    }
}


hr.divide {
    margin:28px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
    @media screen and (max-width: $sm-break-down){
        margin: 15px 0;
    }
}

hr.divide24 {
    margin:24px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
}
hr.divide18 {
    margin:18px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
    padding: 0;
    width: 100%;
}
hr.divide15 {
    margin:15px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
}
hr.divide12 {
    margin:12px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
}
hr.divide10 {
    margin:10px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
}

.space-only {
    opacity: 0;
}

@mixin adtext {
    &:after {
        content: "Advertisement";
        font-size: rem(10);
        color: color(grey);
        position: relative;
        float: right;
        @media screen and (max-width: $mmd-break){
            display:none
        }   
    }
}

.ad-square {
    @include adtext;

    > .dairy {
        @media screen and (max-width: $sm-break){        
            margin: 30px auto 30px auto;
        }
    }
    &.ad-square__left {
        @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down){
            left: 15px;
            position: absolute;
        }
    }
}

.ad-large-vert {
    height:600px;
    @include adtext;
}

.ad-container {
    text-align: center;

    @media screen and (min-width: $mmd-break) {
        width: 970px;
        margin: 0px auto 40px auto !important;        
    }

    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down){
        width: 728px;
        margin: 0px auto 40px auto !important;
    }    

    @media screen and (max-width: $sm-break-down){
        margin: 30px auto 30px auto;
    } 
    
    @include adtext;
    &:after {
        margin-right: $grid-gutter-width / 2;
    }
}
@media screen and (max-width: $sm-break-down){
    .mobad1 {
        margin-top: -35px !important;
        margin-bottom: 15px !important;
    }
    .mobad2 {
        margin-top: 0 !important;
        margin-bottom: 15px !important;
    }
    .mobad3 {
        margin-top: -10px !important;
        margin-bottom: 15px !important;
    }
    .mobad4 {
        margin-top: -65px !important;
        margin-bottom: -15px !important;
    }
    .mobad5 {
        margin-top: 5px !important;
        margin-bottom: 15px !important;
    }
    .mobad6 {
        margin-top: 0px !important;
        margin-bottom: -15px !important;
    }
    .mobad7 {
        margin-top: -5px !important;
        margin-bottom: 15px !important;
    }
    .mobad8 {
        margin-top: -50px!important;
        margin-bottom: 15px!important;
    }
    .mobad9 {
        margin-top: -15px!important;
        margin-bottom: 15px!important;
    }
    .mobadregen {
        margin-top: -58px!important;
        margin-bottom: 15px!important;
    }
}
@media screen and (min-width: $mmd-break) {
    .margin-top-30-desk{
        margin-top: 30px;
    }
    
}

#mainAjaxArticles .row .ad-container {
    margin-top: 40px !important;
    @media screen and (min-width: $sm-break) {
        margin-bottom:15px !important;
    }
    @media screen and (max-width: $sm-break-down) {
        margin-top: 15px !important;
        padding-top: 0;
        #adslot1{
            margin-top: -70px !important;
        }
    }

}

._btn {
    border:0;
    font-size: rem(10);
    font-weight:700;
    width:120px;
    height:35px;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.social-icon {
    width:43px;
    height:100%;
    background-position:center !important;
    background-repeat:no-repeat !important;
    color: #FFF;
    text-transform: uppercase;
    font-size: rem(19);
    font-weight: bold;
    border: 0;
    border-right: 1px solid color(lightgrey);       
    margin-left: 15px;

    &.facebook-icon {
        margin-left: 0px;
    }

    &:last-child {
        border-right: none;
    }       
}

.page_section {
    min-height: 60vh;
}


.mini-events {
    margin-top: 25px;
    @media screen and (min-width: $sm-break) {
        background-color: white;
        margin-top: -69px;
        padding-left: 35px;
        margin-left: -15px;
        width: 22%;
        @media screen and (max-width: $mmd-break-down) {
            margin-left: -35px;
            width: 26%;
        }
    }
    
    a h2 {
        font-size: rem(22);
        font-family:$font-family-sans-serif;
        font-weight: 600;
        // border-bottom: solid 1px rgba(74,74,74,.3);
        color: #000;
        font-style: normal;
        // &.country {
        //     color: #0d522e;
        // }
        // &.shepparton {
        //     color: #f03746;
        // }
    }
    > a {
        
        margin-right: 15px;
        font-family: $font-family-serif;
        font-style: italic;
        font-size: rem(14);    
        &.country {
            color: #0d522e;
        }
        &.shepparton {
            color: #f03746;
        }
    }
    hr {
        margin: 7px 0;
    }
}




.container.nopadding {
    padding:0;
}

@mixin searchIcon {
    display:inline-block;
    padding:5px;
    background-image: url(../icons/search-icon.svg);
    background-repeat: no-repeat;
    background-size:contain;
}

@mixin searchIconMob {
    display:inline-block;
    padding:5px;
    background-image: url(../icons/search-icon-mobile.svg);
    background-repeat: no-repeat;
    background-size:contain;
}

@mixin closeIcon {
    display:block;
    padding:5px;
    background-image: url(../icons/cross-reverse.svg);
    background-repeat: no-repeat;
    background-size:contain;
}

.search-icon{
    @include searchIcon;
    height: 19px;
    width: 20px;  
}

.search-icon-mobile {
    border-radius: 0px;
}

.svg-icons {
  height: 20px;
  width: 32px;
  position:relative;
  align-items: center;
  fill: black;

  &.dairy {
    fill: color(dairy);
  }

  &.country {
    fill: color(country);
  }

  &.shepparton {
    fill: color(red);
  }
}


a.fancybox-close {
    z-index: 200 !important;
    background-image: url('../icons/video-close.svg') !important;
    width: 36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
}

div.fancybox-title {
    display:none !important;
}

.mainAjaxArticles {
    &:after { 
       content: "."; 
       visibility: hidden; 
       display: block; 
       height: 0; 
       clear: both;
    }
}

.ajaxArticles{
    @media screen and (max-width: $sm-break){
        // padding-left: 15px;
        // padding-right: 15px;
        .col-sm-9 {
            .row {
                .col-sm-9 {
                    .row {
                        hr.divide{
                            margin-left: 15px;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }
}

.loadMoreArticles {
    text-decoration: none;
    display: block;
    border: 2px solid black;
    width: 110px;
    height: 33px;
    text-align: center;
    color: black;
    font-size: rem(12);
    float:left;
    text-transform: uppercase;
    font-weight: bold;
    padding-top:6px;
    margin: 15px;

    &.infinite {
        visibility:hidden;
    }
    // @media screen and (min-width: $mmd-break){
    //     position: relative;
    //     top: -20px;
    // }

    // @media screen and (max-width: $mmd-break){
    //     margin: 0 auto 40px auto;
    // }

}


button.bootbox-close-button {
    float: right;
    background: none;
    border: none;
}

h4.modal-title {
    margin-top: 10px;
    font-family: $font-family-sans-serif;
}

// .container-fluid{
//     max-width: 1600px;
// }

// .btn{
//     font-size: rem(14);
//     font-weight: 600;
//     border-radius: 0;
//     padding: 10px 9px;
//     border-bottom: 2px solid $brand-secondary;  
// }



figcaption{
    margin-top: 10px;

    @media screen and (max-width: $sm-break){
        float: left;
        margin-bottom: 30px;
    }
    
    > p {
        font-size: rem(12.5);
        color: #6c6c6c;
        font-style: italic;
        font-family: $font-family-serif;
        float: left;

        &.credit{
            font-style: normal;
            float: right;

            @media screen and (max-width: $sm-break){
                float: left;
            }
        }
    }
}


p.lead{
    font-size: rem(20);
    font-weight: bold;
    color: #4a4a4a;
}
span.leadsentence{
    font-weight: bold;
}



.nav-tabs {
  // overrides bootstrap defaults
  border-bottom: none;
  > li {
    float: right;
    padding-bottom: 1px;
    margin: 5px 0px;

    > a {
        text-transform: uppercase;
        color: color(darkgrey);
        font-size: rem(10);
        font-weight: bold;
        line-height: $line-height-base;
        border: none;
        border-radius: 0px;
        &:hover {
          border-color: 0px;
          background-color: transparent;
        }
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        color: color(red);
        background-color: transparent;
        border: none;
        border-bottom-color: transparent;
        cursor: pointer;
      }
    }

    border-left: 1px solid black;
    &:last-child {
        border-left: none;
    }
  }
}

.nav {
    > li {
        > a {
            padding: 5px 15px;
        }
    }
}



@media (max-width: $sm-break-down){
    .five-cols .col-md-1,
    .five-cols .col-sm-1,
    .five-cols .col-lg-1  {
        width: 100%;
        *width: 100%;
    }
}
@media (min-width: $sm-break) {
    .five-cols .col-md-1,
    .five-cols .col-sm-1,
    .five-cols .col-lg-1 {
        width: 20%;
        *width: 20%;
    }
}

@media (min-width: $sm-break) {
    .two-cols {
        .col-md-1, .col-sm-1, .col-lg-1 {
            width: 50%;
        }
    }
}

@media (min-width: $mmd-break) {
    .two-cols .col-md-2,
    .two-cols .col-sm-2,
    .two-cols .col-lg-2  {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: $mobile-break) and (max-width: $mmd-break-down) {
    .sm-two-cols {
        .col-md-1, .col-sm-1, .col-lg-1 {
            width: 50%;
        }
    }
}

@media (min-width: $sm-break) {
    .three-cols .col-md-1,
    .three-cols .col-sm-1,
    .three-cols .col-lg-1 {
        width: 33.3333%;
        *width: 33.3333%;
    }
}

@media (min-width: $mmd-break) {
    .three-cols .col-md-2,
    .three-cols .col-sm-2,
    .three-cols .col-lg-2  {
        width: 100%;
        *width: 100%;
    }
}

.col-profile-left, .col-profile-right {
    position: relative;
    min-height: 1px;
}

@media (min-width: 768px) {
    .col-profile-left, .col-profile-right {
        float: left;
    }
    .col-profile-left {
        width: 25%;
        padding-right: 30px;        
    }
    .col-profile-right {
        width: 75%;
        padding-left: 30px;
    }
}

.margin-top-40 {
    margin-top: 40px;
}


#signin {
    position:fixed;top:0;width:100%;height:100%;z-index:1001;background: rgba(0,0,0,0.5);
    #dialog {
        margin: auto auto;min-width:468px;min-height:240px;background:white;padding:30px;border-radius:3px;
        @media screen and (max-width: $sm-break-down) {
            min-width:auto;
        }

        > div {
            position:relative;top:10%;margin:auto;
        
            .head {
                overflow:auto;
                padding-bottom:11px;
                border-bottom:1px solid color(lightgrey);
                margin-bottom: 20px;
                h2 {
                    float: left;
                    font-size: rem(15);
                    font-weight:600;
                    margin-right:20px;
                }
                >a {
                    display:block;
                    float:right;
                    height:30px;
                    width:30px;
                    background:url("../icons/cross.svg");
                    background-repeat:no-repeat;

                }
            }


            form {
                input[type=text], input[type=password], input[type=email] {
                    display:block;
                    border:none;
                    height: 44px;
                    padding: 7px;
                    width:100%;
                    margin-bottom:12px;
                    padding-left:15px;
                    border-radius:6px;
                    border: 1px solid color(lightergrey);
                    background:white;


                    &::placeholder {
                        font-size: rem(14);
                        color:color(lightgrey);
                    }
                    &::-webkit-input-placeholder {
                        font-size: rem(14);
                        color:color(lightgrey);
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        font-size: rem(14);
                        color:color(lightgrey);
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        font-size: rem(14);
                        color:color(lightgrey);
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        font-size: rem(14);
                        color:color(lightgrey);
                    }

                    &:disabled {
                        padding: 0px !important;
                        border: none;
                    }
                }

                .remember {
                    overflow:auto;
                    >div {
                        float:left;
                        @media screen and (max-width: $sm-break-down) {
                            float:none
                        }


                        label {
                            font-size:rem(12);
                            color:color(lightgrey);
                            font-weight:normal;
                        }
                    }
                    >p.layout {
                        float:right;
                        font-size:rem(12);
                        color:color(lightgrey);
                        font-style:italic;
                        
                        @media screen and (max-width: $sm-break-down) {
                            float:none
                        }

                        &:hover {
                            cursor:pointer;
                        }
                    }

                }
                button {
                    color:white;
                    background:color(red);
                    display:block;
                    margin:auto;
                    margin-top:25px;
                    font-size:rem(14);
                    border: none;
                }
            }
        }
    }
}

.gallery-title {
    font-size: rem(41);
    color: #FFF;
    margin-bottom: 25px;
    @media screen and (max-width: $sm-break-down) {
        font-size: rem(30);
        margin-bottom: 15px;
    }
}