.c-section-header{
    @include flexbox();
    @include align-items(center);
    padding: 14px 0;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;

    &__h2 {
        @include flexbox();
        @include align-items(center);
        font-family: $base-font-family;
        text-transform:uppercase;
        @include font-size(18);
        font-weight: 600;
        line-height: 1.22;
        letter-spacing: 0.33px;
        color: #000000;

        &:after {
            content: "";
            display:block;
            margin-left:18px;
            height:11px;
            width:11px;
            border-top: 2px solid black;
            border-right: 2px solid black;
            transform: rotate(45deg);
        }
    }
}