.article-gallery {

}

.article-gallery__image {
    position: relative;
    @media #{$media-mobile} {
		height:50vw;
    }
    
	@media #{$media-iPad} {
		height:390px;
	}

	@media #{$media-desktop_up} {
		height:440px;
	}
    &-article {
        background:black;
    }
    &-property {
        position: relative;
        @media screen and (min-width: $mmd-break) {
            height:336px;
        }
    }

}


.article-gallery__img {
    width:100%;
    height:100%;
    object-fit: cover;

    &-property {
        background:white;
    }
}

.article-gallery__caption {
    margin-top: 10px;
    font-size: rem(14);
    color: color(lightgrey);
    font-family: $font-family-serif;

    @media screen and (max-width: $sm-break) {
        font-size: rem(11);
        line-height: 1.45;

    }
}


// .property-featured-image {
// 	position: relative;
// 	@media screen and (min-width: $mmd-break) {
// 		height:336px;
// 	}
// }
// .property-featured-image__img {
// 	width:100%;
// 	height:100%;
// 	object-fit: cover;
// }
// .property-featured-image__caption {
// 	@media screen and (max-width: $mobile-break) {
// 		font-size: rem(11);
// 		line-height: 1.36;
// 	}
// }
