.buylocal {

    padding-bottom:30px;
    border-bottom: 1px solid #979797;

    &__heading {
        @include font-size(12);
        letter-spacing: 0.22px;
        text-align:center;
        font-weight:600;
        padding-bottom:7px;
        border-bottom: 1px solid #979797;
        text-transform: uppercase;
        margin-bottom:40px;
    }
}
