
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
  animation: spinner .6s linear infinite;
}

.border__left{
    border-left: 1px solid rgba(74, 74, 74, 0.3);
    padding-left: 50px;
    margin-left: -50px;
}

.addSpaceMobile {
    @media screen and (max-width: $sm-break-down){
        margin:40px 0;
    }
}

.section-page__main {
     @media screen and (max-width: $sm-break-down){
        margin-top: 40px !important;
    }
}

.carousel-tray {
    clear:both;
    margin:20px 0;
    overflow:auto;
}
.carousel-tray__item {
    float:left;
    margin-right:15px;
    height:150px;
    width:150px;
    background-size:cover;
}
.carousel-tray__delete {
    display:block;
    width:20px;
    height:20px;
    background-image: url('../icons/cross-reverse.svg');
    background-repeat: no-repeat;
    // background-size:contain;
    background-color: rgba(255,255,255,.5);
    margin-top: 5px;
    margin-left: 5px;
    background-position: center;
    &:hover {
        cursor:pointer;
    }
}




.google_ad {
    &:after {
        content: "Advertisement";
        font-size: rem(10);
        color: color(grey);
        position: relative;
        float: right;
        height:0;
        @media screen and (max-width: $sm-break-down){
            display:none;
        }   
    }
    &.tablet-teads,
    &.desktop-teads,
    &.tablet-interstitial,
    &.desktop-interstitial, {
        &:after {
            display:none;
        }
    }
    
    &.tablet-banner{
        height: 90px;
        width: 728px;
         margin-left: auto;
        margin-right: auto;
    }
    &.desktop-banner{
        height: 90px;
        min-width: 728px;
         margin-left: auto;
        margin-right: auto;
    }
    &.mobile-mrec,
    &.tablet-mrec,
    &.desktop-mrec {
        height: 250px;
        width:  300px;
        margin-left: auto;
        margin-right: auto;
    }
}

.ad-square {
    // @include adtext;

    > .dairy {
        @media screen and (max-width: $sm-break){        
            margin: 30px auto 30px auto;
        }
    }
    &.ad-square__left {
        @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down){
            left: 15px;
            position: absolute;
        }
    }
    > p {
        display: none;
    }
}

.ad-large-vert {
    height:600px;
    // @include adtext;
    &.bottom {
        position:absolute;
        bottom:15px;
    }
}

.ad-container {
    text-align: center;
    margin: 30px auto 30px auto;  

    @media screen and (min-width: $mmd-break) {
        width: 970px;       
    }

    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down){
        width: 728px;
    }    

    @media screen and (max-width: $sm-break-down){
        margin: 0px auto;
    } 
    
    // @include adtext;
    &:after {
        margin-right: $grid-gutter-width / 2;
    }
}


#mainAjaxArticlescardClass, #mainAjaxArticles {
    .ad-container {  
        .google_ad div iframe{
            margin-top: 40px;
            @media screen and (max-width: $sm-break-down) {
                margin-top: 0px;
            }
        }
        #adslot1 div iframe{
            margin-top: 0;
        }
    }
}
.loadmore__section {
    @media screen and (max-width: $sm-break-down) {
        margin-left: 15px;
        margin-right: 15px;
    }
}

._btn {
    border:0;
    font-size: rem(10);
    font-weight:700;
    width:120px;
    height:35px;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.social-icon {
    width:43px;
    height:100%;
    background-position:center !important;
    background-repeat:no-repeat !important;
    color: #FFF;
    text-transform: uppercase;
    font-size: rem(19);
    font-weight: bold;
    border: 0;
    border-right: 1px solid color(lightgrey);       
    margin-left: 15px;
    &:hover {
        color: transparent;
    }
    
    &.facebook-icon {
        margin-left: 0px;
    }

    &:last-child {
        border-right: none;
    }       
}

.page_section {
    min-height: 60vh;
}


.mini-events {
    margin-top: 25px;
    @media screen and (min-width: $sm-break) {
        background-color: white;
        margin-top: -69px;
        padding-left: 35px;
        margin-left: -15px;
        @media screen and (max-width: $sm-break-down) {
            margin-left: -35px;
            // width: 26%;
        }
    }
    
    a h2 {
        font-size: rem(20);
        font-family:$font-family-sans-serif;
        font-weight: 600;
        color: #000;
        font-style: normal;
    }
    > a {
        
        margin-right: 15px;
        font-family: $font-family-serif;
        font-style: italic;
        font-size: rem(14);
        @include colourselectdark('');
    }
    hr {
        margin: 7px 0;
    }
}

.events-local {
    min-height: 285px;
    background-color: #fff;
    @media #{$desktop-up} {
        margin-top: -69px;
        margin-bottom: 15px;
    }
    @media #{$up-to-desktop} {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    a h2 {
        font-size: rem(20);
        font-family:$font-family-sans-serif;
        font-weight: 600;
        color: #000;
        font-style: normal;
    }
    > a {
        
        margin-right: 15px;
        font-family: $font-family-serif;
        font-style: italic;
        font-size: rem(14);
        @include colourselectdark('');
    }
}




.container.nopadding {
    padding:0;
}

@mixin searchIcon {
    display:inline-block;
    padding:5px;
    background-image: url(../icons/search-icon.svg);
    background-repeat: no-repeat;
    background-size:contain;
}

@mixin searchIconMob {
    display:inline-block;
    padding:5px;
    background-image: url(../icons/search-icon-mobile.svg);
    background-repeat: no-repeat;
    background-size:contain;
}

@mixin closeIcon {
    display:block;
    padding:5px;
    background-image: url(../icons/cross-reverse.svg);
    background-repeat: no-repeat;
    background-size:contain;
}

.search-icon{
    @include searchIcon;
    height: 19px;
    width: 20px;  
}

.search-icon-mobile {
    border-radius: 0px;
}

.svg-icons {
  height: 20px;
  width: 32px;
  position:relative;
  align-items: center;
  fill: black;

  @include colourselectfill('');
}


a.fancybox-close {
    z-index: 200 !important;
    background-image: url('../icons/video-close.svg') !important;
    width: 36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
}

div.fancybox-title {
    display:none !important;
}

.mainAjaxArticles {
    &:after { 
       content: "."; 
       visibility: hidden; 
       display: block; 
       height: 0; 
       clear: both;
    }
}

.ajaxArticles{
    @media screen and (max-width: $sm-break){
        // padding-left: 15px;
        // padding-right: 15px;
        .col-sm-9 {
            .row {
                .col-sm-9 {
                    .row {
                        hr.divide{
                            margin-left: 15px;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }
}

.loadMoreArticles {
    text-decoration: none;
    display: block;
    border: 2px solid black;
    width: 110px;
    height: 33px;
    text-align: center;
    color: black;
    font-size: rem(12);
    float:left;
    text-transform: uppercase;
    font-weight: bold;
    padding-top:6px;
    margin: 15px;

    &.infinite {
        visibility:hidden;
    }
    // @media screen and (min-width: $mmd-break){
    //     position: relative;
    //     top: -20px;
    // }

    // @media screen and (max-width: $mmd-break){
    //     margin: 0 auto 40px auto;
    // }

}


button.bootbox-close-button {
    float: right;
    background: none;
    border: none;
}

h4.modal-title {
    margin-top: 10px;
    font-family: $font-family-sans-serif;
}

// .container-fluid{
//     max-width: 1600px;
// }

// .btn{
//     font-size: rem(14);
//     font-weight: 600;
//     border-radius: 0;
//     padding: 10px 9px;
//     border-bottom: 2px solid $brand-secondary;  
// }



figcaption{
    margin-top: 10px;

    @media screen and (max-width: $sm-break){
        float: left;
        margin-bottom: 30px;
    }
    
    > p {
        font-size: rem(12.5);
        color: #6c6c6c;
        font-style: italic;
        font-family: $font-family-serif;
        float: left;

        @media screen and (max-width: $sm-break){
            font-size: rem(11);
            line-height: rem(15);
            margin-bottom:15px;
            width: 100%;
        }
    

        &.credit{
            font-style: normal;
            float: right;

            @media screen and (max-width: $sm-break){
                float: left;
            }
        }
    }
}


p.lead{
    font-size: rem(20);
    font-weight: bold;
    color: #4a4a4a;
}
span.leadsentence{
    font-weight: bold;
}



.nav-tabs {
  // overrides bootstrap defaults
  border-bottom: none;
  > li {
    float: right;
    padding-bottom: 1px;
    margin: 5px 0px;

    > a {
        text-transform: uppercase;
        color: color(darkgrey);
        font-size: rem(10);
        font-weight: bold;
        line-height: $line-height-base;
        border: none;
        border-radius: 0px;
        &:hover {
          border-color: 0px;
          background-color: transparent;
        }
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        @include colourselect('');
        background-color: transparent;
        border: none;
        border-bottom-color: transparent;
        cursor: pointer;
      }
    }

    border-left: 1px solid black;
    &:last-child {
        border-left: none;
    }
  }
}

.nav {
    > li {
        > a {
            padding: 5px 15px;
        }
    }
}


.col-profile-left, .col-profile-right {
    position: relative;
    min-height: 1px;
}

@media (min-width: 768px) {
    .col-profile-left, .col-profile-right {
        float: left;
    }
    .col-profile-left {
        width: 25%;
        padding-right: 30px;        
    }
    .col-profile-right {
        width: 75%;
        padding-left: 30px;
    }
}



#signin {
    position:fixed;top:0;width:100%;height:100%;z-index:1001;background: rgba(0,0,0,0.5);
    #dialog {
        margin: auto auto;min-width:468px;min-height:240px;background:white;padding:30px;border-radius:3px;
        @media screen and (max-width: $sm-break-down) {
            min-width:auto;
        }

        > div {
            position:relative;top:10%;margin:auto;
        
            .head {
                overflow:auto;
                padding-bottom:11px;
                border-bottom:1px solid color(lightgrey);
                margin-bottom: 20px;
                h2 {
                    float: left;
                    font-size: rem(15);
                    font-weight:600;
                    margin-right:20px;
                }
                >a {
                    display:block;
                    float:right;
                    height:30px;
                    width:30px;
                    background:url("../icons/cross.svg");
                    background-repeat:no-repeat;

                }
            }


            form {
                input[type=text], input[type=password], input[type=email] {
                    display:block;
                    border:none;
                    height: 44px;
                    padding: 7px;
                    width:100%;
                    margin-bottom:12px;
                    padding-left:15px;
                    border-radius:6px;
                    border: 1px solid color(lightergrey);
                    background:white;


                    &::placeholder {
                        font-size: rem(14);
                        color:color(lightgrey);
                    }
                    &::-webkit-input-placeholder {
                        font-size: rem(14);
                        color:color(lightgrey);
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        font-size: rem(14);
                        color:color(lightgrey);
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        font-size: rem(14);
                        color:color(lightgrey);
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        font-size: rem(14);
                        color:color(lightgrey);
                    }

                    &:disabled {
                        padding: 0px !important;
                        border: none;
                    }
                }

                .remember {
                    overflow:auto;
                    >div {
                        float:left;
                        @media screen and (max-width: $sm-break-down) {
                            float:none
                        }


                        label {
                            font-size:rem(12);
                            color:color(lightgrey);
                            font-weight:normal;
                        }
                    }
                    >p.layout {
                        float:right;
                        font-size:rem(12);
                        color:color(lightgrey);
                        font-style:italic;
                        
                        @media screen and (max-width: $sm-break-down) {
                            float:none
                        }

                        &:hover {
                            cursor:pointer;
                        }
                    }

                }
                button {
                    color:white;
                    display:block;
                    margin:auto;
                    margin-top:25px;
                    font-size:rem(14);
                    border: none;
                    @include colourselect('');
                }
            }
        }
    }
}
