.c-section-head {
    margin-bottom: 25px;

    &__title {
        @include font-size(32);
        color: black;
        font-weight: $weightBold;
        padding-bottom: 8px;

        &--40 {
            @include font-size(40);
        }

        &--light {
            font-weight: $weightLight;
        }

    }
    &__count {
        @include font-size(15);
        margin:0 0 0 auto;
        align-self: flex-end;
        margin-bottom: 9px;
        color: $greyish;
    }

    &__rule {
        border-top: 1px solid $darkergrey;
        height:2px;
    }

    &__button {
        position:absolute;
        right:15px;
        top: -4px;
    }
}