.article-gallery {

}

.article-gallery__image {
	position: relative;
	@media screen and (min-width: $mmd-break) {
		height:440px;
	}
    &-article {
        background:black;
    }

}


.article-gallery__img {
    width:100%;
    height:100%;
    object-fit: cover;

    &-property {
        background:white;
    }
}

.article-gallery__caption {
    margin-top: 10px;
    font-size: rem(14);
    color: color(lightgrey);
    font-family: $font-family-serif;

    @media screen and (max-width: $sm-break) {
        font-size: rem(11);
        line-height: 1.45;

    }
}
