.property-page-details {
    padding-right:50px;
}

.property-page-details\@sm {
    @media #{$up-to-desktop} {
        padding-right:0;
    }
}



.property-page-attributes {
    // margin-top: 30px;
    margin-bottom:27px;
}

.property-page-attributes__contract {
    text-transform:uppercase;
    font-size: rem(14);
    @include colourselect('');
}



.property-page-attributes__address {
    margin:0;
    color: color(darkgrey60pc);
    font-weight:600;
    line-height: 1.29;
    font-size: rem(14);

}
.property-page-attributes__price {
    font-family: $font-family-serif;
    color:color(darkblue);
    // height: 30px;
    overflow:hidden;
    font-size: rem(26);
    font-weight:600;
    // line-height:.85;
    margin-top:12px;
    margin-bottom:2px;
}

.property-page-attributes__spaces {
    padding:0;
    margin:0;
    overflow:auto;
    margin-bottom:0;
    margin-top:15px;
}

.property-page-attributes__spaces-item {
    list-style:none;
    float:left;
    margin-right:20px;
}
.property-page-attributes__spaces-count {
    font-weight:300;
    position: relative;
    top: 2px;
}

.cat-time {
    line-height: 0;
    padding-bottom: 8px;
    margin-top: 15px;
    time {
        font-family: $font-family-serif;
        font-size: rem(11);
        color: color(darkgrey60pc);
    }
}


.property-page-attributes__auction {
    margin-top: 30px;
    padding-bottom:10px;
    font-size:rem(14);
    border-bottom: 1px solid rgba(151, 151, 151,.5);
    >span {
        font-weight:600;
        @include colourselect('');
    }
}
