.site-footer{
    width: 100%;
    margin-top: 40px;
    padding-top:24px;
    background: rgba(0,0,0,1);
    height:375px;
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        min-height:360px;
    }

    @media #{$mobile} {
        height:auto;
        padding-top:20px;
        padding-bottom: 20px;
        margin-top: 40px;
    }


    &__top-row {
        @include flexbox();
        @include justify-content(space-between);
    }
}
