.c-breakingbutton{
    height: 35px;
    padding: 11px 30px;
    font-size: rem(11);
    border-radius: 13px;
    border: solid 1px #ffffff;
    position: absolute;
    margin-top: -80px;
    margin-left: 300px;
    color: $white;
    text-transform: uppercase;
    background-color: color(red);
    &:hover{
        background-color: $hover-color;
    }
    @media #{$tablet} {
        margin-top: -48px;
    }
    @media #{$mobile}{
        display: none;
        background: none;
        left: 68%;
        height: 30px;
        padding: 8px 20px;
        margin-top: -45px;
        margin-left: -68px;
    }
}