.article-gallery {

}

.article-gallery__image-gallery,.article-gallery__image-property {
    // height:515px;
    // background:#B9B9B9; 

    .article-gallery__img {
        max-width: 100%;
        margin:auto;
        display: block;
        width:auto !important;
        // @media #{$mobile} {
        //     height: auto!important;
        // }
    }
}

.article-gallery__image {
    position: relative;
    
    &-article {
        background:black;
        @media #{$mobile} {
            height:50vw;
            margin-bottom: 25px;
        }
        
        @media #{$tablet-up} {
            height:390px;
        }
    
    }
    &-property {
        position: relative;
        @media #{$mobile} {
            height:50vw;
        }
        
        @media #{$tablet} {
            height:390px;
        }

        @media #{$desktop-up} {
            height:350px;
        }    
    }
}

.article-gallery__img-container {
    background-color: #B9B9B9;

}

.article-gallery__img-container-article {
    height:100%;
}


.article-gallery__img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.article-gallery__caption {
    margin-top: 10px;
    font-size: rem(14);
    color: color(lightgrey);
    font-family: $font-family-serif;

    @media screen and (max-width: $sm-break) {
        font-size: rem(11);
        line-height: 1.45;

    }
}
.owl-carousel__base .owl-stage-outer .owl-stage .owl-item figure figcaption{
    margin-bottom:0;
     p {
        @media screen and (max-width: $sm-break-down) {
            font-size:rem(12);
            line-height: rem(14);
        }
    }
}

.article-featured-image__caption-count {
    display:none;
}

.property-featured-image__caption-count {
    display:none;
}
