.editors-picks {
    margin-bottom:20px;

    @media #{$mobile} {
        margin-top:20px;
        margin-bottom:10px;
    }
}

.editors-picks__h1 {
    font-family: $base-font-family;
    font-size: rem(20);
    font-weight: bold;
    line-height: 0.75;
    color: color(darkgrey);
    margin-bottom:5px;
}
.editors-picks__h1\@sm {
    font-size: rem(18);
}

.editors-picks__p {
    font-family: $font-family-serif;
    font-size: rem(14);
    font-weight: normal;
    font-style: italic;
    text-align: left;
    color: color(darkgrey);
}
.editors-picks__p\@sm {
    font-size: rem(12);
    width:70%;

}
