.site-footer{
    width: 100%;
    margin-top: 100px;
    padding-top:24px;
    background: rgba(0,0,0,.85);
    height:295px;
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        height:360px;
    }
    @media screen and (max-width: $sm-break-down) {
        height:auto;
        padding-top:20px;
        padding-bottom: 80px;
    }
}