.buylocal {
    @include flexbox();
    @include flex-direction(column);
    padding-bottom:30px;
    border-bottom: 1px solid #979797;




    @media #{$tablet} {
        @include flex-direction(row);
        @include align-items(center);
        border-top: 1px solid #979797;
        padding-bottom:0;
        justify-content: space-between;
    }

    &__heading {
        @include font-size(12);
        letter-spacing: 0.22px;
        text-align:center;
        font-weight:600;
        padding-bottom:10px;
        border-bottom: 1px solid #979797;
        text-transform: uppercase;
        margin-bottom:40px;

        @media #{$desktop-sm} {
            margin-bottom:30px;
        }
        @media #{$tablet} {
            border-bottom:none;
            padding:0;
            margin:0;

        }
    }
}
