.publish {
    // padding-right: 0px;
    @media #{$mobile}{
        margin-left: -13px;
        margin-top:30px;
    }

    @media #{$tablet}{
        margin-top: 55px;
        padding-bottom: 40px;
    }

}

.publish__p {
    @include font-size(12);
    color: white;
    float: left;
    color:#9c9c9c;
    @media screen and (max-width: $sm-break-down) {
        float:none;
    }
}

.publish__link {
    @include font-size(12);
    letter-spacing: 0.3px;
    color:#9c9c9c;
    float:right;
    @media screen and (max-width: $sm-break-down) {
        float:none;
    }
}
