
.click-subscribe {
    //border-top: solid 1px #979797;
    //@include flexbox();
    //display: flex !important;
    //@include flex-direction(column);
    //@include align-items(center);
    padding:22px 13px;
    background-color:#f7f7f7;
    text-align:center;

    &__title {
        font-family: $font-family-serif;
        color:black;
        @include font-size(15);
        font-weight:600;
        letter-spacing: 0.27px;
        margin-top:0;
        text-align:center;

        @media #{$desktop-sm} {
            @include font-size(13);
            line-height:1.2rem;
        }
    }


    &__p {
        font-family:$base-font-family;
        color:#6e6e6e;
        @include font-size(12);
        font-weight:400;
        text-align:center;
        letter-spacing: 0.27px;
    }

    &__button {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include font-size(14);

        letter-spacing: 0.27px;
        flex-grow:1;
        padding-top:3px;
        background:#f6ae42;
        border-radius: 5px;
        border:none;
        margin: 23px auto 0 auto;
        color:white;
        width:224px;
        height:38px;
        &:focus {
            outline:none;
        }

        @media #{$desktop-sm} {
            width: 136px;
        }
    }
}
