.site-footer-links {
    margin-top:25px;

    @media screen and (max-width: $sm-break-down) {
        margin-top:5px;
    }
}

.site-footer-links__menu {
    float:left;
    //border-right:2px solid color(transwhite);
    padding-right: 30px;
    padding-left: 0;
    margin-right: 30px;
    height: 87px;

    @media screen and (min-width: $sm-break) and (max-width: $md-break){
        height: 62px;
        padding-right: 30px;
        padding-left: 5px;
        margin-right: 20px;
    }

    @media screen and (max-width: $sm-break-down) {
        //float:none;
        //border-right:none;
        padding-bottom:10px;
        margin-bottom:10px;
        padding-left: 15px;
    }
}

.site-footer-links__menu--padded {
    padding-right: 75px;
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        padding-right: 120px;
    }
    @media screen and (max-width: $sm-break-down) {
        padding-right: 5px;
    }
}

.site-footer-links__menu--padded70 {
    padding-right: 70px;
    @media screen and (min-width: $sm-break) and (max-width: $md-break){
        padding-right: 30px;
    }

}
.site-footer-links__link--policy {
	font-weight: normal;
	text-transform: initial;
}

.site-footer-links__menu-item {
    list-style:none;
    margin-bottom:14px;
    @media screen and (min-width: $sm-break) and (max-width: $md-break){
        margin-bottom:10px;
    }
    @media screen and (max-width: $sm-break) {
        margin-bottom:4px;
    }

}
.site-footer-links__link {
    @include font-size(16);
    font-weight:300;
    letter-spacing: 0.29px;
    color:white;
    text-transform:uppercase;
    &:hover {
        color:#ed3a4b;
    }

    @media screen and (max-width: $sm-break-down) {
        @include font-size(14);
    }
}
