.row > * {
    min-height: 0;
}
html {
    font-size:100%;
}

h1, h2 {
    margin:0;
    font-weight:300;
}
p {
    margin:0;
}
li {list-style-type: none;}
body{
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
    color: color(dark);
    // background: #fff;
    font-family: $font-family-sans-serif;

    @media screen and (max-width: $sm-break){
        overflow-x: hidden;
    }
}
iframe {
    border:none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
    }
}
