.events-heading {

	margin-bottom: 0 !important;
	@media screen and (max-width: $sm-break-down) {
		margin-top: 25px;
	}
	

    div.hk {
        display:flex;
        h2 {
        	font-family: $font-family-sans-serif !important;
            flex-grow: 0;
            font-size: rem(30) !important;
            font-weight:300 !important;
            margin-bottom:25px !important;
            margin-top:0px !important;
            text-transform:uppercase;
            @include colourselect('');
        }
        p {
            flex-grow: 1;
            &:after {
                content: '';
                display:block;
                height:1px;
                background:color(lightgrey);
                width:99%;
                margin-top: 33px !important;
                margin-left: 7px !important;
            }
        }

        a {
			position: absolute;
			right: 15px;
			bottom: 5px;
			font-family: $font-family-serif;
			font-size: rem(14);
			font-style: italic;
			@include colourselectdark();
        }

         @include colourselectdark();

    }
}

.month-divider {
	font-size: rem(22);
	font-family: $font-family-sans-serif;
	color: black;
	letter-spacing: 1px;
	line-height: 1.18;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 10px;

	&:not(:first-child) {
		margin-top: 60px;
		@media screen and (max-width: $sm-break-down) {
			margin-top: 30px;
		}
	}
}

.event {
	h2 {
		font-size: rem(12);
		font-weight: bold;
		line-height: 0.85;
		margin-top: 10px;
		font-family: $font-family-sans-serif !important;

		@media screen and (max-width: $mobile-break) {
			margin-top: 5px;
			line-height: 1.67;
			
		}
		
	}

	.main-content {
		margin-top:40px;
		// margin-bottom:96px;
		
		.event-content {

			&.event-content__body {	
				@media screen and (min-width: $sm-break) {	
					border-right: solid 1px #b9b9b9;
				}
				margin: 40px 0;
			}


			p {
				font-size: rem(16);
				font-weight: 300;
				font-family: $font-family-sans-serif;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.8;
				letter-spacing: normal;
				color: color(darkgrey);
				padding-right: 10px;
				clear: both;
				margin-bottom: 20px;
				@media screen and (max-width: $sm-break) {
					// font-size: rem(14);
					line-height: 1.62;
				}
			}
			
			&:before {
			    content: "";
			    position: absolute;
			    top: 0;
			    bottom: 80px;
			    right: -53px;
			    width: 1px;
			    background: color(lightblue);
			    @media screen and (max-width: 991px) {
			       display: none;

			    }
			}


			.content-block-top {
				margin-bottom: 10px;			
			}

			p.category {
				font-size:rem(13);
				float:left;
				text-transform:uppercase;
				margin-right:8px;
				margin-bottom: 0px;
				line-height: 1.18;
				@media screen and (max-width: $sm-break) {
					font-size:rem(11);
				}
				@include colourselect('');
	
			}
			
			time {
				font-size: rem(15);
				font-family:$font-family-serif;
				color: color(grey);
				position:relative;
				top:-5px;
				margin-bottom: 0px;
				line-height: 1.18;				

				&:before {
					content:'';
					display:inline-block;
					height:1px;
					width:41px;
					background:color(grey);
					margin-right:8px;
					margin-bottom:2px;
				}
			}


			h1 {

				font-size: rem(46);
				font-weight: bold;
				line-height: 1.23;
				letter-spacing: 0.5px;
				margin-top: 0;
				margin-bottom: 0;
				color:	#1c2a38;
				font-family: $font-family-sans-serif;
				width: 90%;
				
				@media screen and (max-width: $sm-break) {
					margin-top: 10px;

				}
				@media screen and (max-width: $sm-break) {
					font-size: rem(26);
				}
			}
			
			p.author {
				font-family: $base-font-family;
				font-size: rem(16);
				color: color(darkgrey);
				text-transform:uppercase;
				margin-top:8px;
				margin-bottom:20px;
				line-height: 1.18;				

				>span {
					font-family:$font-family-serif;
					font-style:italic;
					text-transform:lowercase;
				}
				@media screen and (max-width: $mobile-break) {
					font-size: rem(11);
				}

			}


			p.date {
				font-family:$font-family-sans-serif;
				margin-top: 45px;
				font-size: rem(22);
				font-weight: bold;
				line-height:1.18;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-bottom: 0px;

				@media screen and (max-width: $mobile-break) {
					font-size: rem(22);
					margin-top: 15px;

				}
				@include colourselect('');
			}

			p.time {
				font-family:$font-family-serif;
				font-style: italic;
				font-weight: normal;
				font-size: rem(20);
				letter-spacing: 0.2px;
				margin-bottom: 0px;
				line-height: 1.18;				
			}

			p.address {
				font-family:$font-family-serif;
				font-style: italic;
				font-weight: normal;
				font-size: rem(16);
				letter-spacing: 0.2px;
				line-height:1.25;
				padding: 20px 0;	
				margin-bottom: 0px;		
			}

			.event-details {
				ul>li{
					list-style-type: disc;
				}
			}
		}
		.event-sidebar {
			margin: 65px 0 100px 0;
			height: 100%;
			

			.event-details{
				div.event-detail {
					margin:10px 0 10px 0;
					> div {
						&.date{
							height:	23px;
							background-image: url(../images/event/calendar.svg);
							background-repeat: no-repeat;
							&.country {
								background-image: url(../images/event/country/calendar.svg);											
							}
						}
						&.time{
							height:	23px;
							background-image: url(../images/event/clock.svg);
							background-repeat: no-repeat;
							&.country {
								background-image: url(../images/event/country/clock.svg);											
							}
						}
						&.address{
							height:	28px;
							background-image: url(../images/event/location.svg);
							background-repeat: no-repeat;
							&.country {
								background-image: url(../images/event/country/location.svg);											
							}
						}
						&.website{
							height:	27px;
							background-image: url(../images/event/bookmark.svg);
							background-repeat: no-repeat;
							&.country {
								background-image: url(../images/event/country/bookmark.svg);											
							}
						}
						&.contact{
							height:	19px;
							background-image: url(../images/event/envelope.svg);
							background-repeat: no-repeat;
							&.country {
								background-image: url(../images/event/country/envelope.svg);											
							}
						}
					}
					> p {
						font-family:$font-family-serif;
						font-size: rem(17);
						font-weight: bold;
						font-style: italic;
						line-height: 25px;

					}
					.time {
						margin-top: 20px;
					}
					p.contact{
						margin-top: -3px;
					}
				}

			}
			.event-sidebar__events {
				margin-top: 30px;
				padding-top: 15px;
				border-top: solid 1px #b9b9b9;
				>h2 {
					font-size: 16px;
					font-weight: bold;
					color: #f03746;
					margin-bottom: 25px;
					&.country {
						color: #0d522f;
					}
				}
			}
		}

		// .event-map {
		// 	margin: 90px 0;
		// }

		.sidebar {
			padding-left:115px;
		}

		figure.featured {
			>img {
				width:100%;
			}
		}
	}
}

