.owl-shep-theme .owl-nav {
    position:absolute;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

.owl-carousel__base .owl-nav {
    position:absolute;
    height:0px;
    top: 50%;
    margin-top:-20px;
    width: 100%;
    height:0px;
    -webkit-tap-highlight-color: transparent;

    @media #{$mobile} {
        margin-top:-50px;
    }
}


.owl-shep-theme .owl-nav .owl-next {
    background-image: url('../icons/gallery-arrow-right.svg');
    float:right;
    margin-right:15px;

}
.owl-shep-theme .owl-nav .owl-prev {
    background-image: url('../icons/gallery-arrow-left2.svg');
    margin-left:15px;

}

       

.owl-thumbs {
    overflow:hidden;
    white-space:nowrap;
    .owl-thumb-item {
        &.active {
            border:4px solid #B9B9B9;
        }
    }
}

.owl-shep-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    padding: 4px 7px;
    background-repeat: no-repeat;
    background-size: contain;
    height:27px;
    width:14px;
    display: inline-block;
    cursor: pointer; 
}



.owl-shep-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; 
}

.owl-shep-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px; 
}

.owl-shep-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent; 
}

.owl-shep-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; 
}

.owl-shep-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px; 
}

.owl-shep-theme .owl-dots .owl-dot.active span, .owl-shep-theme .owl-dots .owl-dot:hover span {
    background: #869791; 
}