.searchPage {
    margin-top: 50px;
	font-family: $font-family-sans-serif;

    h1 {
        flex-grow: 0;
        font-size: rem(30);
        font-weight:300;
        margin-bottom:25px;
        text-transform:uppercase;
        @include colourselect('');
    }

    h2 {
    }


    .ajaxArticles {
        margin-top:60px;
    }


    .c-cards-view {
        &__heading {
            font-size: rem(24);
            color:color(darkgrey);
            line-height:1.75;
            letter-spacing: 0.7px;
            @media screen and (max-width: $sm-break-down) {
                font-size: rem(18);
                font-weight: normal;
                line-height: 2.33;
                letter-spacing: 0.5px;
            }        
        }

        &__description {
            color:color(darkgrey);
        }
    }


}
