.site-footer{
    width: 100%;
    margin-top: 0;
    padding-top:45px;
    background: rgba(0,0,0,.85);
    height:265px;

    @media screen and (max-width: $mmd-break-down){
        height:auto;
    }

    .footer-brand {
        display:inline-block;
        padding:0;
        width: 116px;
        height:31px;
        background-repeat:no-repeat;
        background-size:contain;
        @media screen and (min-width: $sm-break) and (max-width: $md-break){
            width: 102px;
            height:28px;
        }
    }

    
    .menu {
        float:left;
        border-right:2px solid color(transwhite);
        padding-right: 30px;
        padding-left: 0;
        margin-right: 20px;

        > li {
            list-style:none;
            margin-bottom:7px;
            > a {
                font-size: rem(12.5);
                font-weight:normal;
                letter-spacing: 0.4px;
                color:white;
                text-transform:uppercase;

                @media screen and (max-width: $sm-break-down){
                    font-size: rem(10);
                }

            }
        }
        
        &.padded {
            padding-right: 50px;
        }
        &.padded70 {
            padding-right: 70px;
        }
        &.policy {
            border-right:none;
            > li {
                > a {
                    font-size:rem(12);
                    text-transform:none;
                }
            }
        }
    }

    .publish {
        margin-top:35px;
        // text-align:right;
        p {
            font-size: rem(10);
            color: white;
            float: left;
            color:color(grey);
        }
        a {
            font-size: rem(10);
            letter-spacing: 0.3px;
            color:white;
            float:right;
        }
    }

}