a.fancybox-close {z-index:1 !important;}

div.fancybox-title {display:none !important;}



button.bootbox-close-button {
    float: right;
    background: none;
    border: none;
}

h4.modal-title {
    margin-top: 10px;
    font-family: $font-family-sans-serif;
}


.weather-pulldown {
    margin-bottom: 30px;
    margin-top: 10px;
}

.card-group{
    @media screen and (max-width: $sm-break){
        margin-bottom: 35px;
    }
}


.mobile-full-width {
    @media screen and (max-width: $mobile-break){
        padding:0;
    }
}



div[class*="col-md"] {
    @media screen and (min-width: 992px) {
        &.m-split {
            width:50%;
            float:left;
        }
        &.split {
            width:50%;
            float:left;
        }

        &.clearfixed {
            clear:both;
        }
    }
}



div[class*="col-sm"] {
    @media screen and (min-width: 500px) and (max-width: 767px) {
        &.split {
            width:50%;
            float:left;
        }
        &.clearfixed {
            clear:both;
        }
    }
}

div[class*="col-sm"] {
    @media screen and (min-width: 500px) {

        &.large-split {
            width:50%;
            float:left;
        }
        &.clearfixed {
            clear:both;
        }
    }
}

div[class*="col-sm"] {
    @media screen and (min-width: 992px) {

        &.desktop-split {
            width:50%;
            float:left;
        }
        &.clearfixed {
            clear:both;
        }
    }
}


.relative { position:relative; }
.no-padding {padding:0;}
.u-padding-5 { padding:5px; }
.u-padding-10 { padding:10px }
.u-margin-top-100 { margin-top: 100px; }
.u-margin-top-80 { margin-top: 80px; }
.u-margin-top-60 { margin-top: 60px; }
.u-margin-top-40 { margin-top: 40px; }
.u-margin-top-30 { margin-top: 30px; }
.u-margin-top-25 { margin-top: 25px; }
.u-margin-top-20 { margin-top: 20px; }
.u-margin-top-15 { margin-top: 15px; }
.u-margin-top-10 { margin-top: 10px; }


.u-margin-bottom-100 { margin-bottom: 100px; }
.u-margin-bottom-60 { margin-bottom: 60px; }
.u-margin-bottom-50 { margin-bottom: 50px; }
.u-margin-bottom-40 { margin-bottom: 40px; }
.u-margin-bottom-30 { margin-bottom: 30px; }
.u-margin-bottom-25 { margin-bottom: 25px; }
.u-margin-bottom-25 { margin-bottom: 20px; }
.u-margin-bottom-15 { margin-bottom: 15px; }
.u-margin-bottom-10 { margin-bottom: 10px; }


@media #{$mobile} {
    .u-mobile-float-left { float:left; }
    .u-mobile-float-right { float:right; }
    .u-mobile-clear-both { clear:both; }

    .u-mobile-no-margin-top {margin-top:0!important;}
    .u-mobile-no-margin-bottom {margin-bottom:0!important;}
    .u-margin-bottom-100 { margin-bottom: 100px; }
    .u-mobile-margin-bottom-60 { margin-bottom: 60px; }
    .u-mobile-margin-bottom-50 { margin-bottom: 50px; }
    .u-mobile-margin-bottom-40 { margin-bottom: 40px; }
    .u-mobile-margin-bottom-30 { margin-bottom: 30px; }
    .u-mobile-margin-bottom-25 { margin-bottom: 25px; }
    .u-mobile-margin-bottom-20 { margin-bottom: 20px; }
    .u-mobile-margin-bottom-15 { margin-bottom: 15px; }
    .u-mobile-margin-bottom-10 { margin-bottom: 10px; }


    .u-mobile-margin-top-60 { margin-top: 60px; }
    .u-mobile-margin-top-50 { margin-top: 50px; }
    .u-mobile-margin-top-40 { margin-top: 40px; }
    .u-mobile-margin-top-30 { margin-top: 30px; }
    .u-mobile-margin-top-25 { margin-top: 25px; }
    .u-mobile-margin-top-20 { margin-top: 20px; }
    .u-mobile-margin-top-15 { margin-top: 15px; }
    .u-mobile-margin-top-10 { margin-top: 10px; }

}
@media #{$tablet} {
    .u-tablet-float-left { float:left; }
    .u-tablet-float-right { float:right; }
    .u-tablet-clear-both { clear:both; }

    .u-tablet-no-margin-top {margin-top:0!important;}
    .u-tablet-no-margin-bottom {margin-bottom:0!important;}
    .u-tablet-margin-bottom-60 { margin-bottom: 60px; }
    .u-tablet-margin-bottom-50 { margin-bottom: 50px; }
    .u-tablet-margin-bottom-40 { margin-bottom: 40px; }
    .u-tablet-margin-bottom-30 { margin-bottom: 30px; }
    .u-tablet-margin-bottom-25 { margin-bottom: 25px; }
    .u-tablet-margin-bottom-20 { margin-bottom: 20px; }
    .u-tablet-margin-bottom-15 { margin-bottom: 15px; }
    .u-tablet-margin-bottom-10 { margin-bottom: 10px; }

    .u-tablet-margin-top-60 { margin-top: 60px; }
    .u-tablet-margin-top-50 { margin-top: 50px; }
    .u-tablet-margin-top-40 { margin-top: 40px; }
    .u-tablet-margin-top-30 { margin-top: 30px; }
    .u-tablet-margin-top-25 { margin-top: 25px; }
    .u-tablet-margin-top-20 { margin-top: 20px; }
    .u-tablet-margin-top-15 { margin-top: 15px; }
    .u-tablet-margin-top-10 { margin-top: 10px; }


}
@media #{$desktop-up} {
    .u-desktop-float-left { float:left; }
    .u-desktop-float-right { float:right; }
    .u-desktop-clear-both { clear:both; }

    .u-desktop-no-margin-top {margin-top:0!important;}
    .u-desktop-no-margin-bottom {margin-bottom:0!important;}
    .u-desktop-margin-bottom-60 { margin-bottom: 60px; }
    .u-desktop-margin-bottom-50 { margin-bottom: 50px; }
    .u-desktop-margin-bottom-40 { margin-bottom: 40px; }
    .u-desktop-margin-bottom-30 { margin-bottom: 30px; }
    .u-desktop-margin-bottom-25 { margin-bottom: 25px; }
    .u-desktop-margin-bottom-20 { margin-bottom: 20px; }
    .u-desktop-margin-bottom-15 { margin-bottom: 15px; }
    .u-desktop-margin-bottom-10 { margin-bottom: 10px; }

    .u-desktop-margin-top-60 { margin-top: 60px; }
    .u-desktop-margin-top-50 { margin-top: 50px; }
    .u-desktop-margin-top-45 { margin-top: 45px; }
    .u-desktop-margin-top-40 { margin-top: 40px; }
    .u-desktop-margin-top-30 { margin-top: 30px; }
    .u-desktop-margin-top-25 { margin-top: 25px; }
    .u-desktop-margin-top-20 { margin-top: 20px; }
    .u-desktop-margin-top-15 { margin-top: 15px; }
    .u-desktop-margin-top-10 { margin-top: 10px; }

    .u-desktop-indent-left-20 { margin-left: -20px; }
}

.u-fix-width-300 {
    width: 300px !important;
}
.u-fix-adsize{
    width: 300px !important;
    height: 250px !important;
    div {
        width: 300px !important;
        height: 250px !important;
    }
    iframe {
        width: 300px !important;
        height: 250px !important;
    }
    .ad-cads{
        width: 300px !important;
        height: 250px !important;
    }
    canvas {
        width: 300px !important;
        height: 250px !important;
    }
}
.u-left-unset{
    left: unset !important;
}


@media (max-width: $sm-break-down){
    .five-cols .col-md-1,
    .five-cols .col-sm-1,
    .five-cols .col-lg-1  {
        width: 100%;
        *width: 100%;
    }
}
@media (min-width: $sm-break) {
    .five-cols .col-md-1,
    .five-cols .col-sm-1,
    .five-cols .col-lg-1 {
        width: 20%;
        *width: 20%;
    }
}

@media (min-width: $sm-break) {
    .two-cols {
        .col-md-1, .col-sm-1, .col-lg-1 {
            width: 50%;
        }
    }
}

@media #{$desktop-up} {
    .two-cols .col-md-2,
    .two-cols .col-sm-2,
    .two-cols .col-lg-2  {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: $mobile-break) and (max-width: $mmd-break-down) {
    .sm-two-cols {
        .col-md-1, .col-sm-1, .col-lg-1 {
            width: 50%;
        }
    }
}


@media #{$tablet} {
    .two-cols-tablet {
        .col-md-1, .col-sm-1, .col-lg-1 {
            width: 50%;
        }
    }
}


@media #{$tablet-up} {
    .two-cols-tablet-up {
        .col-md-1, .col-sm-1, .col-lg-1 {
            width: 50%;
        }
    }
}


@media #{$tablet-up} {
    .three-cols .col-md-1,
    .three-cols .col-sm-1,
    .three-cols .col-lg-1 {
        width: 33.3333%;
        *width: 33.3333%;
    }
}

@media #{$tablet-up} {
    .four-cols .col-md-1,
    .four-cols .col-sm-1,
    .four-cols .col-lg-1 {
        width: 25%;
        *width: 25%;
    }
}
@media #{$desktop-up} {
    .desk-four-cols .col-md-1,
    .desk-four-cols .col-sm-1,
    .desk-four-cols .col-lg-1 {
        width: 25%;
        *width: 25%;
    }
}

@media #{$desktop-up} {
    .three-cols .col-md-2,
    .three-cols .col-sm-2,
    .three-cols .col-lg-2  {
        width: 100%;
        *width: 100%;
    }
}





div.space40 {
    margin-top:40px;

    @media screen and (max-width: $sm-break-down){
        margin-top:20px;
    }
}


hr.divide {
    margin:28px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
    @media screen and (max-width: $sm-break-down){
        margin: 15px 0;
    }
}

hr.divide24 {
    margin:24px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
}
hr.divide18 {
    margin:18px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
    padding: 0;
    width: 100%;
}
hr.divide15 {
    margin:15px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
}
hr.divide12 {
    margin:12px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
}
hr.divide10 {
    margin:10px 0;
    border: 0;
    border-top: 1px solid color(lightgrey);
}

.space-only {
    opacity: 0;
}



.u-float-left { float:left; }
.u-float-right { float:right; }
.u-clear-both { clear:both; }

.u-block {
    display:block;
}

.advert {
    margin: 20px 0 20px 0;
    @media screen and (min-width: $mmd-break){
            margin: 40px 0 40px 0;
        }
        @media screen and (max-width: '320px'){
            margin-left: -15px;
        }
    .mini{
        img{
            margin-top: -25px;
        }
    }
}

.advert-banner-small {

    margin-bottom:58px;
    margin-top:58px;

    > div.advert {
        width:970px;
        height:90px;
        margin: 0 auto;
        @media screen and (max-width: $mmd-break){
            width: 728px;
            height: 90px;
        }
        @media screen and (max-width: $sm-break-down){
            width: 300px;
            height: 75px;
        }
        
    }
}


.divide {
    margin-top: 32px;
    margin-bottom: 42px;
    border: 0;
    border-top: 1px solid color(lightgrey);
}


.clearfix {overflow:auto;overflow-x:hidden}
.centerContent { display:inline; text-align: center;}
.centerText {text-align: center;}
.centerBlock {margin-left:auto;margin-right:auto}
// 20px gutter
.gutter-60.row {
  margin-right: -30px;
  margin-left: -30px;
}
.gutter-60 > [class^="col-"], .gutter-60 > [class^=" col-"] {
  padding-right: 30px;
  padding-left: 30px;
}

// 20px gutter
.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
// 10px gutter
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
// 0px gutter
.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
  padding-right: 0;
  padding-left: 0;
}





// Row with equal height columns
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row-eq-height-desk {
    @media screen and (min-width: $sm-break) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }
}

.flex_col {
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
}
.flex_row {
    flex-direction:row;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
}

.flex_between{
    justify-content: space-between;
}

.flex-shrink0{-ms-flex-negative:0;-webkit-flex-shrink:0;flex-shrink:0;-moz-flex-shrink:0;}
.flex0{-webkit-flex:0;-ms-flex:0;flex:0;-moz-flex:0;}
.flex1{-webkit-flex:1 0 0;-ms-flex:1 0 0;flex:1 0 0;-moz-flex:1 0 0;}
.flex2{-webkit-flex:2 0 0;-ms-flex:2 0 0;flex:2 0 0;-moz-flex:2 0 0;}
.flex3{-webkit-flex:3 0 0;-ms-flex:3 0 0;flex:3 0 0;-moz-flex:3 0 0;}
.flex4{-webkit-flex:4 0 0;-ms-flex:4 0 0;flex:4 0 0;-moz-flex:4 0 0;}
.flex5{-webkit-flex:5 0 0;-ms-flex:5 0 0;flex:5 0 0;-moz-flex:5 0 0;}
.flex6{-webkit-flex:6 0 0;-ms-flex:6 0 0;flex:6 0 0;-moz-flex:6 0 0;}
.flex7{-webkit-flex:7 0 0;-ms-flex:7 0 0;flex:7 0 0;-moz-flex:7 0 0;}
.flex8{-webkit-flex:8 0 0;-ms-flex:8 0 0;flex:8 0 0;-moz-flex:8 0 0;}
.flex9{-webkit-flex:9 0 0;-ms-flex:9 0 0;flex:9 0 0;-moz-flex:9 0 0;}
.flex10{-webkit-flex:10 0 0;-ms-flex:10 0 0;flex:10 0 0;-moz-flex:10 0 0;}
.flex11{-webkit-flex:11 0 0;-ms-flex:11 0 0;flex:11 0 0;-moz-flex:11 0 0;}
.flex12{-webkit-flex:12 0 0;-ms-flex:12 0 0;flex:12 0 0;-moz-flex:12 0 0;}
.flex13{-webkit-flex:13 0 0;-ms-flex:13 0 0;flex:13 0 0;-moz-flex:13 0 0;}
.flex15{-webkit-flex:15 0 0;-ms-flex:15 0 0;flex:15 0 0;-moz-flex:15 0 0;}

.divideright {
    @media #{$tablet} {
    // @media screen and (min-width : 768px)  and (max-width : 991px) {

        &:after {
            content: '';
            display: block;
            height: 100%;
            background: color(lightgrey);
            width: 1px;
            position: absolute;
            top: 0;
            right: -13px;
        }
        &:last-child {
            &:after {
                display:none;
            }
        }
        &.dairy {
            &:after {
                right: 0;
            }
        }
        &.divideright__nogap {
            &:after {
                right: 0;
            }
        }
    }
}
.divideright-desk {
    @media #{$desktop_up} {
        &:after {
            content: '';
            display: block;
            height: 100%;
            background: color(lightgrey);
            width: 1px;
            position: absolute;
            top: 0;
            right: -13px;
        }
        &:last-child {
            &:after {
                display:none;

            }
        }
        &.dairy {
            &:after {
                right: 0;
            }
        }
        &.divideright__nogap {
            &:after {
                right: 0;
            }
        }
        &.after-display{
            &:after {
                display:block;
            }
        }
    }
}

.divideright-main {
    &:after {
        content: '';
        display: block;
        height: 100%;
        background: color(lightgrey);
        width: 1px;
        position: absolute;
        top: 0;
        right: 5px;
    }
    &:last-child {
        &:after {
            display:none;
        }
    }
}

.divideright-ofs {
    &:after {
        content: '';
        display: block;
        height: 100%;
        background: color(lightgrey);
        width: 1px;
        position: absolute;
        top: 0;
        right: -85px;
    }
}
