@mixin weather-panel {
	font-family: $font-family-sans-serif;

	p {
		margin: 0;
		padding: 0;
		line-height: 1.3;
	}

    .location {
        font-family: $font-family-serif;        
		font-size: rem(12);
		font-weight: normal;
    }

    .date {
        font-family: $font-family-serif;
        font-size: rem(12);
        font-weight: bold;
    }

    .temp-desc {
        font-family: $font-family-sans-serif;
        color:color(red);
        font-size: rem(11);
		font-weight: bold;
    }

    .wind {
        font-family: $font-family-sans-serif;
        color:color(darkgrey);
        font-size: rem(11);
        font-weight: normal;
    }

    .icon {
        vertical-align:top;
        margin: 0px;
        margin-left: 0px;
        padding-left: 5px;
        padding-right: 10px;
        position: relative;
        bottom: 3px;
        border-left: 1px solid rgba(74,74,74, 0.3);
        // height: 34px !important;
        // width: 36px !important;
    }

    .show-weather {
       	position: relative;
    	float: left;
    	right: 15px;
    	top: 5px;
    	&:hover {
    		cursor: pointer;
    	}
    	&.flip {
			transform: scaleY(-1);
    	}
    }
}

.weather {
    @include weather-panel;
}

.weather-date {
	padding: 32px 0;
	> h1 {
		font-family: $font-family-serif;
		font-size: rem(22);
		opacity: 0.7;
		color: black;
		font-style: italic;
		line-height: 1.36;
	}
	> p {
		font-size: rem(14);
		line-height: 2.14;
		color: color(red);
	}
}

.panel {
    @include weather-panel;

	display: flex;
	flex-direction: row;

    height: 34px;

    margin-bottom: 20px;
}

.weather-dropdown {
	display: flex;
    flex-direction: row;
    height: 156px;
    padding: 18px 0;
    justify-content: space-between;
    margin-top: 20px;
}

.hidden {
	display: none;
}

#weather-panels {
	display: flex;
    border-left: 1px solid rgba(0,0,0,0.15);
    padding: 22px 0;
}