{% set articleCount = 0 %}

<div class="col-sm-9">
    <div class="row" data-template="panel-13">

        {% for i in 0..1 if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:300, height:160},
                site            : site,
                swap            : 'false',
                containerClass  : 'col-sm-6 col-md-6 card-106-mobile card-106-tablet card-106-desktop-sm card-106-desktop-lg'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            
            
        {% endfor %}

    </div>
</div>