{% set desktopCount = (dev) ? articleCount : 0 %}
{% set tabletCount = (dev) ? articleCount : 0 %}

<section class="row">
    <div class="col-md-9 col-sm-9 section-header">
        <p><a href="{{articles.link}}">View All</a></p>
        <div class="hk">
            <h2>Opinion</h2>
            <p></p>
        </div>
    </div>

<!-- desktop -->
    <div class="visible-xs-block visible-md-block visible-lg-block">
        {% set opinionClass = ["col-md-2", "col-md-2", "col-md-2", "col-md-3"] %}

        {% for i in 0..3 if articles.feed.articles[desktopCount] %}
            {% set finalClass = (i == 3) ? 'final' : '' %}
            <div class="{{opinionClass[i]}}">

                {{this.render('../_single-article.twig', {
                    article: articles.feed.articles[desktopCount], 
                    imageSuppress: true,
                    containerClass: 'card-opinion card-opinion-tablet card-opinion-mobile ' ~ finalClass
                }) | raw}}
                {% set desktopCount = (dev) ? articleCount : desktopCount + 1 %}

                <hr class="divide visible-xs-block">

            </div>
        {% endfor %}
    </div>

<!-- tablet -->
    <div class="visible-sm-block">
        {% for i in 0..2 if articles.feed.articles[tabletCount] %}
            {% set finalClass = (i == 2) ? 'final' : '' %}
            <div class="col-sm-3">

                {{this.render('../_single-article.twig', {
                    article: articles.feed.articles[tabletCount], 
                    imageSuppress: true,
                    containerClass: 'card-opinion card-opinion-tablet card-opinion-mobile ' ~ finalClass
                }) | raw}}
                {% set tabletCount = (dev) ? articleCount : tabletCount + 1 %}

                <hr class="divide visible-xs-block">

            </div>
        {% endfor %}
    </div>

</section>