{% set articleCount = 0 %}

    <section class="section-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 section-header">
                    <p><a href="{{articles.link}}">View All</a></p>
                    <div class="hk">
                        <h2>{{ title }}</h2>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for i in 0..2 if articles.feed.articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                        article: articles.feed.articles[articleCount], 
                        imageSize: {width:95},
                        site: site,
                        containerClass: 'col-sm-3 card-sm-wide card-sm-wide-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                {% endfor %}

            </div>
        </div>
    </section>