{% set articleCount = 0 %}

<section class="row">
    <div class="col-sm-9 section-header">
        <p><a href="{{link}}">View All</a></p>
        <div class="hk">
            <h2>{{ title }}</h2>
            <p></p>
        </div>
    </div>

    <div class="sm-two-cols">
        <div class="col-md-3 col-sm-1 col-xs-9">
            {% if articles[articleCount] %}
                {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    imageSize: {width:414, height:255},
                    site: site,
                    containerClass: 'card-sm-wide card-sm-wide-tablet home-feature-mobile'
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% endif %}

            <hr class="divide visible-xs-block space-only">

            <hr class="divide10 visible-sm-block space-only">

        </div>

         {%  for i in 0..2 if articles[articleCount] %}
             <div class="col-md-2 col-sm-1 col-xs-9">
                {{this.render('../_single-article.twig', {
                    article: articles[articleCount], 
                    imageSize: {width:300},
                    site: site,
                    containerClass: 'card-sm card-sm-wide-tablet card-sm-mobile'
                }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% if i == 2 %}
                    <div class="row">
                        <hr class="divide visible-xs-block">
                    </div>
                {% elseif i == 0 %}
                    <hr class="divide visible-xs-block">
                     <hr class="divide10 visible-sm-block space-only">
                {% else %}
                    <hr class="divide visible-xs-block">
                {% endif %}
            </div>

        {% endfor %}

    </div>

    
</section>