{% set articleCount = 0 %}

<section>
    <div class="row">
        <div class="col-sm-9 section-header">
            <p><a href="{{link}}">View All</a></p>
            <div class="hk">
                <h2>{{ title }}</h2>
                <p></p>
            </div>
        </div>
    </div>

    <div class="row">

        {% for i in 0..2 if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article         : articles[articleCount], 
                imageSize       : {width:300},
                site            : site,
                containerClass  : 'col-sm-3 card-sm-wide card-sm-tablet card-sm-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            
            {% if i < 2 %}
                <hr class="divide visible-xs-block" style="margin-left:15px;margin-right:15px;">
            {% else %}
                <hr class="divide visible-xs-block">
            {% endif %}
            
        {% endfor %}

    </div>
</section>