{% set articleCount = 0 %}


<section class="row" data-template="section-05">
    <div class="col-md-9 col-sm-9 section-header">
        <div class="hk">
            <h2>{{ title }}</h2>

            <p></p>
        </div>
    </div>


    {# {% if title == 'Real Estate' %}

        <div id="real-estate-section" class="col-sm-9">
            <div class="u-margin-bottom-40">

                <!-- # The Following is code from View Real Estate -->
                <div id="rev-search" >
                    <div class="rev-search-inner clearfix">
                        <div class="rev-search-title">
                            <span>Find your place</span>
                        </div>

                        <form action="https://www.realestateview.com.au/portal/search/" method="get" target="_blank">

                            <input type="hidden" name="utm_source" value="reiq" />
                            <input type="hidden" name="utm_medium" value="widget" />
                            <input type="hidden" name="iss" value="true" />

                            <div class="rev-search-item-wrapper clearfix">
                                <div class="rev-search-item rev-search-contract-type">
                                    <input type="hidden" name="smt" />
                                    <div class="search-type-selected" tabindex="0">Buy</div>
                                    <div id="search-type-dropdown-placeholder"></div>
                                </div>

                                <div class="rev-search-item rev-search-location">
                                    <input type="hidden" name="loc" />
                                    <input type="text" id="input-location" autocomplete="off" placeholder="Search by suburb, postcode or area" />
                                    <div id="suggestions-dropdown-placeholder"></div>
                                </div>

                                <div class="rev-search-item rev-search-submit">
                                    <button>Search</button>
                                </div>
                            </div>
                        </form>

                        <div class="rev-search-logo">
                            <a href="//www.realestateview.com.au">
                                <img src="//www.realestateview.com.au/assets/content/images/logo-rev_white.png" alt="realestateVIEW" />
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %} #}

    <div class="col-sm-9">
        <div class="row">

            {% for i in 0..2 if articles[articleCount] %}
                <div class="col-xs-9 col-sm-3 col-md-3">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        template: 'property_card',
                        networkData: networkData,
                        imageSize: {width: 300, height: 195},
                        containerClass: 'card-realestate card-realestate-tablet card-realestate-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? 0 : articleCount + 1 %}
                    {% if i < 2 %}
                        <hr class="divide12 visible-xs-block">
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div> 



</section>