{% set articleCount = 0 %}


<section data-template="section-video">
    <div id='home-video' class='video-section {{site}}'></div>
    {# the below can be used to debug the live script #}
    {# {{this.registerJsFile(networkData['templatePath'] ~ '/static/development/js/plugins/ovu_masthead.js?ver=2')}} #}

    {# {{this.registerJsFile("https://videos.oovvuu.com/mmgp/v1/ovu_masthead.js")}} #}
</section>