{% set articleCount = 0 %}

<section data-articles="{{articles | length}}">>
    <div class="row">
        <div class="col-sm-9 section-header">
            <p><a href="{{articles.link}}">View All</a></p>
            <div class="hk">
                <h2>{{ title }}</h2>
                <p></p>
            </div>
        </div>
    </div>

    <div class="row">

        {% for i in 0..2 if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                imageSize: {width:300},
                site: site,
                containerClass: 'col-sm-3 card-sm-wide card-sm-wide-tablet card-sm-mobile'
            }) | raw}}
            {% set articleCount = (dev) ? 0 : articleCount + 1 %}
            {% if i < 2 %}
                <hr class="divide12 visible-xs-block" style="margin-left:15px;margin-right:15px;">
            {% endif %}
        {% endfor %}

    </div>
</section>