{% if sections['videos'].feed.articles|length > 0 %}
    {% set videoCount = (dev) ? articleCount : 0 %}

    <section class="section-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 section-header">
                    <p><a href="{{sections['videos'].link}}">View All</a></p>
                    <div class="hk">
                        <h2>VIDEOS</h2>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for i in 0..2 if sections['videos'].feed.articles[videoCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: sections['videos'].feed.articles[videoCount], 
                        imageSize: {width:95},
                        containerClass: 'col-sm-3 card-sm-wide card-sm-wide-mobile'
                    }) | raw}}
                    {% set videoCount = (dev) ? videoCount : videoCount + 1 %}

                {% endfor %}

            </div>
        </div>
    </section>
{% endif %}