
@mixin card-107-base() {
    @include card-name("107 mobile");

    .c-cards-view {
        @include flex-direction(column);

        &__media {
            width: 100%;
            height: 197px;
        }

        &__container {
        }
        &__category {
            display:none;
        }

        &__heading {
            margin-top:15px;
            font-family: $font-family-serif;
            @include font-size(20);
            font-weight:600;
            color: #2b2a2a;
            overflow:visible;
        }
        &__description {
            display:none;
        }
        &__author {
            display:flex;
            position:relative;
            margin-top:7px;
        }

        &__author-name {
            font-family: $base-font-family;
            font-weight:400;
            color: #6e6e6e;
            border:none;
            @include font-size(12);
            &:before {
                content: "By ";
            }
        }
        &__author-time {
            display:none;
        }


        &__time {
            display:none;
        }


        &.without__image {
            .c-cards-view {
                &__container {
                    width: 100%;
                    margin-left: 0px;
                    padding: 0px 20px 0;
                }
                &__category {
                    margin-top: 36px;
                    margin-bottom: 24px;
                }
                &__heading {
                    height: 55px;
                }
                &__description {
                    margin-bottom: 15px;
                    display: block;
                    height:100px;
                    max-height: 100px;
                    overflow: hidden;
                }
                &__author {
                    margin-top:55px;
                }
            }
        }
    }
}

.card-107-mobile {
    @media #{$mobile} {
        @include card-107-base();
    }
}


.card-107-tablet {

    @media #{$tablet} {

        @include card-107-base();
        @include card-name("107 tablet");
        .c-cards-view {

            &__media {
                width: 100%;
                //height: 152px;
            }
        }

    }
}



.card-107-desktop-sm {
    @media #{$desktop-sm} {
        @include card-107-base();
        @include card-name("107 desktop");
    }
}

.card-107-desktop-lg {
    @media #{$desktop-lg} {
        @include card-107-base();
        @include card-name("107 desktop lg");
    }
}

