
@mixin card-111-base() {
    @include card-name("111 mobile");

    .c-cards-view {
        @include flex-direction(column);

        &__media {
            width: 100%;
            height: 197px;
        }

        &__container {
        }
        &__category {
            display:none;
        }

        &__heading {
            margin-top:15px;
            font-family: $font-family-serif;
            @include font-size(20);
            font-weight:600;
            color: #2b2a2a;
            overflow:visible;
        }
        &__description {
            display:none;
        }
        &__author {
            //display:none;
            display:flex;
            position:relative;
            margin-top:10px;
        }

        &__author-name {
            font-family: $base-font-family;
            font-weight:400;
            color: #6e6e6e;
            border:none;
            @include font-size(12);
            &:before {
                content: "By ";
            }
        }
        &__author-time {
            display:none;
        }


        &__time {
            display:none;
        }


        &.without__image {
            background-color: #f7f7f7;
            .c-cards-view {
                &__container {
                    width: 100%;
                    margin-left: 0px;
                    padding: 50px 10px;
                }
                &__category {
                }
                &__heading {
                }
                &__description {
                    display:none;
                }
                &__author {
                    margin-top:7px;
                }
            }
        }
    }
}

.card-111-mobile {
    @media #{$mobile} {
        @include card-111-base();
        .c-cards-view {
            &__media {
                height: 107px;
            }
            &__heading {
                @include font-size(16);
                letter-spacing: 0.29px;
            }
        }
    }
}


.card-111-tablet {

    @media #{$tablet} {

        @include card-111-base();
        @include card-name("111 tablet");
        .c-cards-view {

            &__media {
                width: 100%;
                //height: 152px;
            }
        }

    }
}



.card-111-desktop-sm {
    @media #{$desktop-sm} {
        @include card-111-base();
        @include card-name("111 desktop");
        .c-cards-view {

            &__media {
                height: 171px;
            }
        }
    }
}

.card-111-desktop-lg {
    @media #{$desktop-lg} {
        @include card-111-base();
        @include card-name("111 desktop lg");
    }
}

