.leaderboard {
    counter-reset: my-badass-counter;
}
.leaderboard {
    .card {
        @include flexbox();
        &:before {
            content: counter(my-badass-counter);
            counter-increment: my-badass-counter;
            font-family: $font-family-serif;
            @include font-size(24);
            font-weight:600;
            color: #2b2a2a;
        }
    }
}



@mixin card-109-base() {
    @include card-name("109 mobile");

    .c-cards-view {
        @include flex-direction(row);

        &__media {
            display:none;
        }

        &__container {
        }

        &__heading {
            font-family: $font-family-serif;
            @include font-size(15);
            line-height: 1.47;
            font-weight:600;
            color: #2b2a2a;
            margin-left:20px;
        }
        &__category {
            display:none;
        }

        &__description {
            display:none;
        }

        &__author {
            display:none;
        }

        &__time {
            display:none;
        }


        &.without__image {
            .c-cards-view {
                &__container {
                    width: 100%;
                    margin-left: 0px;
                    padding: 0px 20px 0;
                }
                &__category {
                    margin-top: 36px;
                    margin-bottom: 24px;
                }
                &__heading {
                    height: 55px;
                }
            }
        }
    }
}

.card-109-mobile {
    @media #{$mobile} {
        @include card-109-base();
    }
}


.card-109-tablet {
    @media #{$tablet} {
        @include card-109-base();
        @include card-name("109 tablet");
    }
}

.card-109-desktop-sm {
    @media #{$desktop-sm} {
        @include card-109-base();
        @include card-name("109 desktop");
    }
}

.card-109-desktop-lg {
    @media #{$desktop-lg} {
        @include card-109-base();
        @include card-name("109 desktop lg");
    }
}

