<!--footer-->
<footer class="site-footer">
    <div class="container">        
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <a class="footer-brand" href="#" rel="Home" tabindex="-1" title="Home">
                    <h1>Practice Live</h1>
                </a>
            </div>

{#             <div class="col-sm-12 col-md-9">
                <ul class="footer-links">
                	<li><a href="#">Contacts</a></li
                	><li><a href="#">Accessability</a></li
            		><li><a href="#">Site Index</a></li
        			><li><a href="#">Privacy</a></li
    				><li><a href="#">Copyright</a></li
					><li><a href="#">Feedback</a></li
					><li class="copyright">Copyright © 2017</li>
				</ul>
            </div>
 #}

        </div><!--row-->

    </div><!-- .container-->

    
</footer>
