

<div class="navigation-logo site-logo">
    <a  id="sitelogo" 
        class="navbar-brand" 
        href="{{networkData.defaultBlogUrl}}" 
        rel="Home" 
        tabindex="-1" 
        title="Home">
    </a>
</div>