

<div class="navigation-logo site-logo">
    <a  class="navbar-brand sitelogo" 
        href="{{networkData.defaultBlogUrl}}" 
        rel="Home" 
        tabindex="-1" 
        title="Home">
    </a>
</div>